[2021-01-20 13:23] LuckyTurtleDev opened #1448 "install dependencies before donwloading sources"
### Is your feature request related to a problem? Please describe.
If a dependency needed by an dlagent the installation failed. Because the yay only ~check~ install dependency after downloading the source.

### Describe the solution you'd like
Yay should check and install dependency after cloning the AUR repo and before downloading the other source to satisfy also the dependency for the dlagents.

[2021-01-20 13:27] Morganamilo commented on #1448
Yay resolves dependencies right at the start, before downloading sources and before cloning the aur package.

[2021-01-20 13:43] LuckyTurtleDev opened #1449 "Install package at the same time (if needed)"
### Is your feature request related to a problem? Please describe.
Package A depend an special version of another package B. If package A will be updated and depend on a newer version of package B. Yay could not update this package A, because it tries to update Package B first, which breaks the dependency of the old Package A.

### Describe the solution you'd like
Package A and B should be install

[2021-01-20 13:48] LuckyTurtleDev commented on #1448
If I try to install `gog-ftl` yay recognize the `lgogodownloader` dependency. But it try to download the sources of  `gog-ftl` before compiling/installing `lgogodownloader`.

[2021-01-20 13:51] Morganamilo commented on #1448
I guess yay should not download all sources then start the building.

[2021-01-20 14:10] LuckyTurtleDev commented on #1448
This should be a better behavior, which should fix the problem.

[2021-01-20 17:14] lukassup opened #1450 "Issue when selecting devel packages"
### Affected Version
[code]

### Describe the bug
When `yay` prompts to select which development packages to install, it doesn't choose the ones entered (maybe off by one error?):

[code]

### Reproduction Steps
1. `yay -Syyu --devel`
2. Try to select devel packages to upgrade

### Expected behavior
If I enter `1` it should select `1` and if I enter `^1` it should select `all but first`.

### Outp

[2021-01-20 20:07] mskiptr commented on #512
.

[2021-01-21 19:25] #1424 closed, assigned to nobody

[2021-01-21 19:25] #1416 closed, assigned to nobody

[2021-01-22 18:08] lukassup commented on #1450
Sorry for the trouble. This was my mistake. I read it as *include* not `Packages to exclude`. You can close it.

![image](https://user-images.githubusercontent.com/7907507/105528362-931ba880-5ced-11eb-8961-113ad1516a81.png)

[2021-01-23 07:19] ZimbiX commented on #1243
Please reopen

[2021-01-24 13:06] Jguer commented on #1450
Closing, appreciate the pic

[2021-01-24 13:06] #1450 closed, assigned to nobody

[2021-01-24 18:50] benjarobin commented on #1440
I think this is the same issue as mine (Otherwise I will create a new issue). I did realize a very quick analyze (I don't really know go and the source of yay...)

When yay "hang" is it executing `sudo pacman -D --asdeps --config /etc/pacman.conf -- pkg`
But this function is called using `config.Runtime.CmdRunner.Capture()` instead of `show()` function: https://github.com/Jguer/yay/blob/HEAD/insta

[2021-01-26 06:46] emmatebibyte opened #1452 "This issue was created by mistake"
This issue was created by mistake.

[2021-01-26 06:47] #1452 closed, assigned to nobody

[2021-01-27 08:56] Maik93 commented on #336
Sorry for necrodumping, but what does  `--save` should do? It is not present anymore in yay `v10.1.2`.

[2021-01-27 09:34] atk91 commented on #1194
One more thing what can be done is to remove `sudo` from dependencies, since you still have `sudo` installed to use `yay`

[2021-01-27 10:54] TheDcoder commented on #1194
@atk91 Yes, it should be made an optional dependency along with `opendoas`

Not strictly, you can use the `--assume-installed` option to force pacman to not install `sudo`.

[2021-01-27 16:13] brainplot commented on #1194
You're technically right but I think we would all want a cleaner solution than that!

[2021-01-28 23:29] AlexWayfer commented on #384
Hm, let me check please. How to read help for `-P` option, for example for `-w` sub-options?

[code]

[2021-01-29 11:16] grandchild commented on #384
`man yay`? Search for `--news`.

I generally use `yay -Pwwq`, that way I only get the headlines, but don't have to worry about missing anything because I ran an update without printing news.

[2021-01-29 18:47] AlexWayfer commented on #384
OK, thank you, it helped, but I still don't understand what the second `-w` does, I found no information in `man`.

---

So, about this issue: notice "when updating". These two commands is kind of work-around, but the issue is about automatic displaying I think.

So, you run `yay` (or explicitly `yay -Syu`) and you see Arch news as well as outdated, packages orphaned and other info.

Also it could

[2021-01-29 21:08] Jguer commented on #1194
Done as of yay `10.1.2-2`

Any other way support for `doas` can be improved?

[2021-01-29 21:12] Jguer commented on #1170
@iTanguy you can make a PR on https://github.com/Jguer/yay-PKGBUILD if you wish to add this

[2021-01-29 21:13] Jguer commented on #1449
Hey @Lukas1818 , have you tried using `--batchinstall`?

[2021-01-29 21:18] freed00m commented on #1194
@Jguer yay does put some flags to the sudobin that doas doesn't know.

`yay -Syu` does call `doas -v -- etc`
making doas fail with
[code]
Why not check if the sudobin is indeed a `sudo` and then append the flags

[2021-01-29 21:27] y0ast commented on #1194
Ideally also automatic switching the sudobin to doas if sudo isn’t installed and doas is.

[2021-01-29 21:38] Jguer commented on #1438
You are right, it's a cool QOL addition. `-a` is already used for AUR mode

 I hesitate implementing it into -S as it is unsupported to do partial updates and partial downgrades.

 Adding it to -Q is a bit hard and out of place

 I'd add a `yay -U` helper so as to automatically fetch the archive link `ex: yay -U curl=7.73.0-1` would automatically translate to a archlinux archive link

 what do you

[2021-01-29 21:39] Jguer commented on #1443
Seems to be a `provides` issue, will see if there's a quick fix

[2021-01-29 21:40] LuckyTurtleDev commented on #1449
No I did not.
It does exactly make, what I would like to do. Thanks
Is it possible to set `--batchinstall` as default?

[2021-01-29 21:45] #1442 closed, assigned to Jguer

[2021-01-29 23:32] grandchild commented on #384
Reads clearly to me.

I don't think that using two commands is a workaround. This is what the Unix shell is for. Composing commands is great. Not everything has to be baked into every command. Mix and match! 🙂 You could even build a little prompt wait in between:
[code]
Put all that into an alias, and you're good to go. Make your own tools!

---

But that is exactly what the single `-w` does no?

[2021-01-29 23:55] AlexWayfer commented on #384
Oh, sorry, didn't notice, not familiar format for me. It even seems like resolving "show only actual news", described by me, although not so obvious (what is "native packages"?).

I think, it should decide maintainers (@Morganamilo) and author of this issue (@samvdkris), is it acceptable solution or just work-around. I assume that this is a work-around from the issue title and my personal wishes.

[2021-01-30 00:10] grandchild commented on #384
Sorry, I apologise, didn't mean to be rude!

[2021-01-30 00:26] AlexWayfer commented on #384
OK, I just saw a lot of text about what I didn't mean, like I agree that we should **not** recognize any (installed) packages in news, while there is no meta-information about them and a small overall number of news, especially with double `-w` flag.

[2021-01-30 13:31] LuckyTurtleDev commented on #1449
But is still think yay should automatic install, both package at same time, if it run in a deadlock as described above.

[2021-01-30 14:17] 45poplar commented on #842
The same to me.
I've just upgrade yay from the archlinuxcn repo on archlinux.

[2021-01-30 14:35] Morganamilo commented on #1447
This happens when yay is build against a different version of pacman. Did you build yay then change to the pacman beta or -git? if so just rebuild yay.

[2021-01-30 16:25] AchmadFathoni commented on #695
Is there any AUR helper that doesn't have this problem?

[2021-01-30 16:33] list17 commented on #842
I just encountered this problem too.
The version: yay v10.1.2 - libalpm v12.0.2

[2021-01-30 19:20] QuarticCat commented on #842
Same as @list17

[2021-01-30 21:53] AchmadFathoni commented on #695
Nevermind, yay actually can install arm-linux-gnueabihf-gcc only with this installation sequence

arm-linux-gnueabihf-gcc-stage2
arm-linux-gnueabihf-gcc-stage1
arm-linux-gnueabihf-gcc

[2021-01-31 16:56] ruro commented on #1379
The issue is not fixed yet, afaik. If you need my help with this issue, feel free to ask.

[2021-01-31 17:00] solonovamax commented on #1438
I think that'd work pretty nicely. Just drop it somewhere in the man page and then I'd say you're good to go.

Though, there should definitely be a way to list the remote package versions that you can downgrade to, that way you don't have to go on the package archive to list the versions, basically defeating the purpose of it.

[2021-01-31 17:01] #1440 closed, assigned to nobody

[2021-01-31 17:06] Jguer commented on #1410
This should be changed to follow exactly pacman

[2021-01-31 17:11] Jguer commented on #1125
could you create a separate issue for this, uninstall warrants it's own issue

[2021-02-01 07:53] Jguer commented on #1238
We don't check svn packages like we do for git so we can't know if they're due for an update, as a closest alternative we could always present svn devel packages to update @nathanielcwm

[2021-02-01 07:58] Jguer commented on #1355
I guess we can add `-insiders` to the devel list.. at least until some better idea comes along

[2021-02-01 08:04] Jguer commented on #1379
I can't reproduce this issue unfortunately.

Can you do `whereis sudo` just to confirm there's no wrappers on sudo?

Also, you could try setting your timeout to the default 5min and trying again to verify it's really unrelated to the sudo timeout

[2021-02-01 12:19] ulidtko commented on #1125
@Jguer hmmm :thinking: I tried to do as you suggest, opening a new issue — but on retesting `yay v10.1.2` it seems to be OK:

[code]

The dep cycle is nicely detected, warned about, and handled no problem (including uninstall).

So I guess the issue is already fixed anyway. Thanks for getting back!

[2021-02-01 12:59] ruro commented on #1379
`whereis sudo` prints `sudo: /usr/bin/sudo /usr/lib/sudo /etc/sudo.conf /usr/share/man/man8/sudo.8.gz`.
`sudo --version` is
[code]

The output of `sudo grep "^[^#]" /etc/sudoers $(sudo find /etc/sudoers.d -type f)` (grepping all sudoers configuration files for non-comment lines) is:

[code]

As you can see, the value of `timestamp_timeout` is never changed (the default is already 5 according to `m

[2021-02-02 00:05] VRichardJP commented on #1447
Indeed, I recently changed to pacman-git

Thanks!

[2021-02-02 00:05] #1447 closed, assigned to nobody

[2021-02-02 14:32] nathanielcwm commented on #1238
Sounds better than the current behaviour. Not a lot of packages are svn now so I don't think it's gonna make a major impact in updating speeds.

And anyway most people I doubt are even passing the --devel flag so it's only likely to affect ppl who know what they are doing to some extent.

[2021-02-05 13:44] Morganamilo commented on #1449
It's off by default because stuff builds against libraries that are installed on the system. I imagine it's possible to update program foo and libbar. If libbar is built but not installed then, foo would build against the old version.

[2021-02-05 21:12] ShockedCoder opened #1453 "How do I ignore SSL certificates?"
So I reinstalled Manjaro and whilst redownloading my packages I get a:
[code]
I've searched for solutions and even looked at the man page for yay, but didn't find anything,

[2021-02-06 00:01] grandchild commented on #1453
I'm getting the same error. It seems that the source server for this specific package doesn't play well with a current Arch `curl` setup. (https://www.ssllabs.com/ssltest/analyze.html?d=chiselapp.com&s=74.208.146.128)

What you can do is look into (and eventually edit) `/etc/makepkg.conf` and edit the `DLAGENTS` key for `https`.

You could try and add the `--insecure` option to the `DLAGENTS[https

[2021-02-06 00:03] grandchild commented on #1453
Also there's other people having the same problem on the AUR page for the package: https://aur.archlinux.org/packages/sdx

[2021-02-06 03:34] JohanChane commented on #1150
Try this. It works.

[code]

[2021-02-06 11:22] soloturn opened #1455 "exit code 127 on yay -T, same as pacman -T"
### Is your feature request related to a problem? Please describe.
#1444 hins on how to install local packages, and #1351 details a little more on one challenge with exit code 1 if a dependency is not there.

### Describe the solution you'd like
please give same exist code on same parameter as pacman. here, for yay -T, give 127 instead of 1.

127 error code is defined here:
https://git.archlinux.o

[2021-02-06 13:13] LuckyTurtleDev commented on #1449
I mean yay should only install the two package at the same time, if it run in the deadlock. If their no deadlock, yay could install the packages behind each other.

[2021-02-06 13:35] Morganamilo commented on #1449
Yes that's the idea, but this is why batchinstall is off by default.

[2021-02-06 13:48] LuckyTurtleDev commented on #1449
It is possible that yay could automatic detect this and automatic install the package at the same time, if it needed?

[2021-02-06 15:49] IslandC0der commented on #1150
@JohanChane thank you for your suggestion, but isn't that the same as `yay -Qo <file>`?
I was talking about a command that allowed me to see which aur package owns a given file, **without said aur package being installed on the system.**
But as @Morganamilo said, that's impossible, since there's no file database for aur packages. Most of them don't even download the compiled source, so I don't kno

[2021-02-07 10:03] RubenKelevra opened #1456 "yay -Ss crashes with SIGSEGV"
### Affected Version
yay v10.1.2 - libalpm v12.0.1

### Describe the bug
That's probably network related. So some service etc is down or something like that.

### Reproduction Steps
1. run `yay -Ss test`
2. get a segfault

### Expected behavior
Don't get a segfault, but a search result

### Output
[code]

[2021-02-07 10:22] Morganamilo commented on #1456
You're yay and pacman version don't match. If you switched to/from pacman-git that's the issue. You just need to rebuild yay against the currently installed pacman.

[2021-02-07 10:38] RubenKelevra commented on #1269
@stertingen I feel like this should be fully automated - not with any manual intervention. If there's for example a security fix in Golang for a build-in library, I would currently have to push an empty update to a package build with Golang, just to trigger a rebuild on all user's systems.

Else the security issue would never been patched if there's not a new release for the software I maintain.

[2021-02-07 12:26] grandchild commented on #1269
But many many packages are perfectly fine with a dependency update without the rebuild. For example I don't want every `mingw-*` package to be rebuilt just because some fundamental library changes.

So the proper way to do this would be to either:
1. mark dependencies as rebuild-triggers, or
2. push a new pkgbuild version

Archlinux official packages currently do 2, for example Haskell packages. S

[2021-02-07 12:58] RubenKelevra commented on #1269
@grandchild if you want to skip certain packages from rebuilding maybe a feature like the "packages to clean build" list, where you can select certain ones as a user.

All selected will be removed from the list of packages needed to be rebuild, for this update.

Or do you think about having a blocklist somewhere of packages that don't need a rebuild at all?

Would it be save to skip all mingw-* pa

[2021-02-07 14:04] grandchild commented on #1269
I get the impression you think it's the norm that packages have to be updated/rebuilt because the (make-)depends get updated. It's not.

Rather it's a special case of software written in languages like Haskell (that doesn't have a stable ABI, so symbols move around on recompile) and Go (which links libraries in statically instead of dynamically).

So what I'm suggesting is that if you want such a

[2021-02-07 14:08] grandchild commented on #1269
More detail: each dependency on each package would need a flag whether it will trigger a rebuild (with a default of "false" imo). For example a Go package might have both an actual library dependency and a tool that generates the manpage. An update to the first might trigger a rebuild, while an update to the manpage tool will not, because the output would still be the same manpage.

[2021-02-07 14:25] grandchild commented on #1269
Personally I feel that updating the package (even with just a pkgrel change) is what the package maintainer has to do. That's part of the job description, and it's what the official packages currently do. (Even to _extremes_: just install `pandoc`, and leave it on your system for a few weeks. You'll see...)

I'd be all in favour if the arch packaging system could detect this automatically in some

[2021-02-07 17:51] #1456 closed, assigned to nobody

[2021-02-09 07:24] archnim commented on #1453
Thank you very much. Your tip just helped me. Really, sdx maintainers should update their server's certificate !

[2021-02-09 12:20] ulidtko commented on #1379
I'm affected by this too. Getting locked out is **not fun**.

![image](https://user-images.githubusercontent.com/365338/107361998-dee99280-6ae0-11eb-94bc-2e7ed058e05c.png)

<details><summary>Configs, versions elaborated (<i>click to expand</i>)</summary>

My Yay config is pretty much the same as @RuRo, `sudoloop` is set.

[code]
I've got no sudo wrappers (`which sudo` → `/usr/bin/sudo`) and its co

[2021-02-09 15:51] marius137 commented on #1140
[this issue](https://github.com/Jguer/yay/issues/1194#issuecomment-612571017) has the solution

[2021-02-09 16:17] kucksdorfs opened #1457 "Upgrading AUR packages with circular dependencies."
### Is your feature request related to a problem? Please describe.

I am not sure if this requires a feature or a bug. A feature seems more appropriate at the moment.

Currently I cannot do an upgrade of the zfs-dkms and zfs-utils packages. I think the problem is because they are both dependencies of each other. However if I uninstall and then reinstall them it installs just fine.

### Describe th

[2021-02-10 11:58] IGBC commented on #1374
I believe the upstream issue is arch's keyservers are still down. I am using ubuntu's for now

[2021-02-11 08:54] Jguer commented on #1140
Closing this issue as a duplicate of #1194

[2021-02-11 08:54] #1140 closed

[2021-02-13 10:58] BigfootN opened #1458 "Git packages won't get updated"
### Affected Version
yay v10.1.2 - libalpm v12.0.2

### Describe the bug
I don't understand why my git packages won't get updated.

This is what I get when running `yay -Y --gendb`:
[code]

This is my `vcs.json`:

[code]

An when I run `yay -Syu --devel` no git packages are updated. I'm sure that at least one of them is at least one commit behind.

### Expected behavior
That the git packages get u

[2021-02-13 17:57] julixau commented on #1455
I have submitted a PR.

However (as noted in the PR) this will not enable makepkg to install aur package using `makepkg -s` since yay will refuse to install aur packages as root, which makepkg does at all times :disappointed:

[2021-02-14 11:07] littletianr opened #1460 "Permission denied while building AUR"
**Version**
`yay v10.1.2 - libalpm v12.0.2`

I typed this:
` yay -S i3-wm-iconpatch `
**Output:**
[code]

I guess the error was git showed,because "`fatal: could not create work tree dir xxxxxx : Permission denied`"
And I have another question: where is the buliding dir of yay? Maybe I can try using `chmod` or `chown` to solve the problem by myself.

Thanks.

[2021-02-14 11:26] littletianr commented on #1460
It solved.
`/pkg/settings/config.go` showed that:

[code]
My `/home/ _username_ /.config/yay/config.json` showed that:
`"buildDir": "/home/ _username_ /.cache/yay",`

So after I run `chmod ...` and `chown` , It was  OK.
[code]

[2021-02-14 11:26] #1460 closed, assigned to nobody

[2021-02-14 21:38] #1283 closed

[2021-02-15 14:47] imxade opened #1461 "yay not working without sudo"
after removing sudo yay is unable to install packages
I know that sudo is part of base-devel, but is there any workaround to use yay without sudo.
I'm using opendoas for root access

[2021-02-15 18:18] grandchild commented on #1461
See #1194 🙂

[2021-02-16 08:59] Jguer commented on #1458
`yay -Y --gendb` marks those commits as installed (even if they were not), it should be run only once. After that future commits should trigger devel update

[2021-02-16 09:02] #1453 closed, assigned to nobody

[2021-02-17 08:37] rien333 commented on #1405
This issue has been marked as unstale because it's still very much real. Thanks for your work stale bot.

[2021-02-17 08:38] rien333 commented on #1405
so quick, good job

[2021-02-17 12:26] #1434 closed, assigned to nobody

[2021-02-18 07:52] BigfootN commented on #1458
Oh I understand. So `yay -Y --gendb` should only be run once, and not at every update/install ?

Thank you very much in advance for any response.

[2021-02-18 18:07] YorkZ commented on #694
I'm not sure if this issue is the same as #647, but if it is, then I would be very interested in it because I'm in the exact same situation as in #647.

[2021-02-18 18:24] YorkZ commented on #647
I'm in the exact same situation as @c0d3z3r0, and I worked around it by:

1. Create a repo on GitHub, and pushed my local copy of the AUR package to my GitHub.
2. Create a symbolic link inside `~/.cache/yay` pointing to my local AUR package.

This way, when I issue `yay -S AUR-PACKAGE`, `yay` builds and installs my local copy.

[2021-02-18 19:00] BlackZork commented on #1413
Ok, PKGDEST solves it.

[2021-02-18 19:00] #1413 closed, assigned to nobody

[2021-02-20 06:23] no1xsyzy commented on #1449
I just ran into same issue between `zfs-dkms` and `zfs-utils`, in which case uninstalling `zfs-dkms` (the dependent) is not a wise choice, since it will tweak around the kernel and need to do a time-consuming `dkms install`.

And `--batchinstall` might still be a problem if batch install and serial install should be combined in this update.

Question: Will yay continue to upgrade other packages af

[2021-02-20 11:54] soloturn commented on #694
[paru has  an experimental feature](https://github.com/Morganamilo/paru/issues/222) it is what you expect?

[2021-02-20 12:48] Porkepix opened #1464 "Yay isn't handling correctly packages with a sufix such as "beta""
### Affected Version
yay v10.1.2 - libalpm v12.0.2

### Describe the bug
One package on AUR was using the beta versions earlier (https://aur.archlinux.org/packages/rutorrent/) but now offers the non-beta version. However, yay doesn't list it to update, and forcing reinstall (` yay -S rutorrent`) reuses the beta package already built

### Reproduction Steps
1. Install the beta version or have it in

[2021-02-20 14:59] grandchild commented on #1464
This is a packaging problem. `3.10` is considered older than `3.10_beta`, as confirmed by pacman's `vercmp`:
[code]

Refer to https://wiki.archlinux.org/index.php/PKGBUILD#pkgver for more details.

[2021-02-20 15:07] Porkepix commented on #1464
Despite that, is it normal for `yay -S` (and not `-U`) to not build and install the last one available on AUR?

[2021-02-20 18:49] grandchild commented on #1464
Yes absolutely. I sometimes have a more recent version installed because I updated it myself before the maintainer does. And I wouldn't want yay to _downgrade_ my local package unless explicitly asked to do so!

And for *-git packages that's even the norm, because the pkgver gets incremented locally when newer commits become available -- without any update to the package itself.

[2021-02-21 00:21] TornaxO7 opened #1465 "yay installs package with "weird" permissions."
### Affected Version

[code]

### Describe the bug

I'm trying to reinstall `zoom` with this command:
[code]

Now if I want to execute the command `zoom`, I'm getting this error message:
[code]

This is the dialog with `yay`:
[code]

I know that I'm rather reinstalling `zoom` on my system than installing it, but I'm getting this permission issue everytime if I install a package from AUR with `yay`

[2021-02-21 16:51] Jguer commented on #1458
@BigfootN exactly, if you run it before an update/install, yay will mark the latest version as installed even if it wasn't ( we can't really guarantee we can figure out the installed package version just from the local installed). If you've installed a -git package with yay it should automatically get added to yay's cache

[2021-02-21 16:51] #1458 closed, assigned to nobody

[2021-02-21 16:52] #1464 closed, assigned to nobody

[2021-02-21 17:12] BigfootN commented on #1458
Thank you for your great explanation and time.

[2021-02-22 09:30] grandchild commented on #1465
[code]
And you say this also happens on a clean install?

Can you run `yay -S --nocleanafter zoom` and have a look in `~/.cache/yay/zoom/pkg/zoom/` what the permissions are there? I want to figure out if your problem occurs during build of the package or during install.

[2021-02-22 12:27] TornaxO7 commented on #1465
I could still decide, if I want to clean up the pacakges:
![image](https://user-images.githubusercontent.com/50843046/108708340-9cc54580-7511-11eb-9415-3d6180214987.png)

I don't have this path/directory.
![image](https://user-images.githubusercontent.com/50843046/108708397-b070ac00-7511-11eb-9ed0-0ddf42e42a73.png)

[2021-02-22 12:31] TornaxO7 commented on #1465
Ok, I found the reason, why the permissions are set to `700`: `yay` is using a different build directory, where the permissions are `700`. Thank you for your hint! Now I need to find out, when and where I configured it like to that.

[2021-02-22 12:31] #1465 closed, assigned to nobody

[2021-02-23 17:04] Jguer commented on #1435
I'm okay to add this but it will include a disclaimer on how sometimes manjaro lags releases for a bit.

[2021-02-24 08:25] Jguer opened #1467 "GitHub Actions: could not find or read directory: /var/lib/pacman/"
### Describe the bug

Yay's CI cannot operate while upstream bug is not fixed and pushed to base images used

Upstream issue https://bugs.archlinux.org/task/69563

[2021-02-24 18:07] grandchild commented on #1457
(This issue should be renamed from _"recursive"_ to _"circular"_ dependencies)

I would have expected `yay -Syu --batchinstall` to do the trick, but it didn't. 🙁

Why doesn't `--batchinstall` help with this? I guess it's because yay does its own dependency checking even after packages have been built? Why not defer the install-time dependency checking completely to `pacman -U` when using `--batchi

[2021-02-25 03:27] Ry0taK opened #1468 "[Security] GitHub Actions"
Hello yay contributors!
I'm a security researcher who is working on OSS security.

While doing a research related to supply chain attack, I noticed that some repositories are vulnerable to repository hijacking. (This issue has been mitigated by me and GitHub.)
Since the root cause of this issue hasn't been fixed, I'd like to let you know what you should do.

In [multiarch-build.yml](https://github

[2021-02-25 09:59] Jguer commented on #1468
Hey @Ry0taK , thanks for the heads up, I'll be fixing it before the next release

[2021-02-26 08:44] G4Zz0L1 commented on #1427
So, it seems it will be fixed? I still have sudoloop to false because of that sudoflags to "-E" and occasionally on long aur compilation it times out.

[2021-02-26 13:01] grandchild commented on #1427
I'll cook up a PR next week.

[2021-02-26 19:28] rusak47 opened #1469 "Allow to redirect package build process into file"
Similar scenario like in issue  #1246.
I'm currently installing webkitgtk3, and it's build process generates tons of output. And a build process takes more than an hour until it fails.
It would be great to add a flag to specify the log file where to output build process and not to spam stdin.

$ yay --version
yay v10.1.2 - libalpm v12.0.2

[2021-02-28 17:40] Jguer commented on #1469
Interesting idea, what would be the advantage versus a simple output redirection? How would you control which get outputted if there are multiple packages getting installed?

[2021-02-28 20:06] cuihaoleo commented on #1373
I guess this is the same bug so I am not opening a new issue.

When I do `-Syuw`, yay needlessly asks me to select `Packages to exclude` after downloading all updates, as if it's going to install packages. No matter what I choose, it ends up doing nothing because of `-w`.

Demo:
[code]

[2021-03-01 19:27] julianxhokaxhiu commented on #69
Nope, not today.

[2021-03-02 07:24] Jguer commented on #1468
Fixed as of ca60c15911edf7d84145001fc731fcf1dac577be

[2021-03-02 07:24] #1468 closed, assigned to Jguer

[2021-03-02 07:26] Ry0taK commented on #1468
@Jguer Thank you so much for fixing it ;)

[2021-03-02 16:02] rusak47 commented on #1469
Sorry, but I don't know how to use simple o/p redirection with yay. Please show an example.

If you mean to redirect all messages to file, including yay, then I suppose its silent installation with no user intervention, i.e. called from script.
If that's the scenario, then advantage of selective o/p is simple - the user can interact with yay, but the build process will be logged into file without

[2021-03-09 09:58] d-air1 opened #1470 "Add option to set diff tool"
### Is your feature request related to a problem? Please describe.
I was looking for a way to show side by side diffs with colored output to make changes easier to read. I read that you used git diff. I thought that I could set the appropriate variables to use an external diff tool with git, but had no success.

### Describe the solution you'd like
I would like for there to be an option like the "

[2021-03-10 15:48] ghost opened #1471 "Add asciicinema video to README.md"
https://github.com/morganamilo/paru has a nice introductary demo. I'd love if yay has similar

Also, those screenshots look gorgues. Can u share the Xresources?

[2021-03-11 08:26] Jguer commented on #1471
You're right, the `README.md` is lacking a bit of attention, as for the colorscheme, I've switch to something more mellow now but I think it should be this one

https://github.com/Jguer/dotfiles/commit/4dbe98acacb0fd5233e6fd4d9657ed963795617f#diff-57f6d128322d1914b8eadddc3117a36f5e5a14d2057e897dcd22096629eb59ef

EDIT: or this one https://github.com/Jguer/dotfiles/commit/167bac7f6fb682c17e63eaed338

[2021-03-11 08:32] Jguer commented on #1379
@ulidtko nice find, yes, this might be a better solution

[2021-03-11 12:18] ulidtko commented on #1379
@Jguer I mean... there's literally 0 chance to break anything with such a change. Why don't you simply tweak the timeout? Do you need a PR to merge for this?

[2021-03-11 15:45] grandchild commented on #1379
![linus-oneliner-changes](https://user-images.githubusercontent.com/770029/110813840-294d6300-8289-11eb-8c14-74801a8fddac.gif)

[2021-03-11 18:12] vith commented on #1213
asdf

[2021-03-11 18:20] piegamesde commented on #1213
@Jguer Can you please shoot that bot? At least for this issue. 2/3 of this discussion is basically bot spam.

[2021-03-12 11:11] AlexWayfer commented on #953
Issue should not has an activity (like "hey to all, +1") and should remains open while a problem (or lack of feature) still exists. This bot forces meaningless comments. 🙈

[2021-03-12 13:21] ulidtko commented on #1379
@grandchild cool, thanks for reminding Yay has a test suite. I've reviewed it, and determined that it can't break from reducing the timeout as above. Nevertheless, I've built & run it, just to not fool myself as in the Linus's irony. An unrelated test fails on master:
[code]

Exact same test report with the suggested change applied.

I mean... the gif totally has a valid point, and *in general* I

[2021-03-12 19:42] #1455 closed, assigned to nobody

[2021-03-13 11:01] Jguer commented on #1379
It should be fine, I'm pushing the patch with 240s, I'll definitely hear if it's not fine

[2021-03-13 11:08] #1379 closed, assigned to nobody

[2021-03-13 11:08] #1427 closed, assigned to nobody

[2021-03-13 11:10] Jguer commented on #1467
Fixed upstream

[2021-03-13 11:10] #1467 closed, assigned to nobody

[2021-03-13 11:17] Jguer commented on #1213
@piegamesde I'll see if I can make it less aggressive, maybe double the inactivity time

[2021-03-13 11:21] Jguer commented on #1213
Bot has been tamed

[2021-03-14 22:41] chrisjbillington opened #1472 "Yay fails when downloading a dependency from the repos"
### Affected Version
`yay v10.1.2.r30.g3d58587 - libalpm v12.0.2`

### Describe the bug
For the specific case of `linux-versioned-bin` on the AUR, `yay` seemingly attempts to download a dependency of one of the packages defined in the PKGBUILD. This fails, but was also unexpected - it's not a make dependency so it should not be downloaded unless that specific package is being installed (the issue

[2021-03-14 23:03] Morganamilo commented on #1472
It's not possible to distinguish between build and runtime dependencies so yay has to assume they're all build helps and install them.

[2021-03-15 00:38] chrisjbillington commented on #1472
I see, yes you are correct that ordinary depends may or may not be required for running `makepkg`, so yay must install them in case they are. I understand now why `yay` is trying to install the dependency, and the remaining issue is that it fails.

Installing `pahole` manually using pacman works, so yay is presumably not doing the right thing to install it. I suppose it's possible I have a malfunc

[2021-03-15 00:57] chrisjbillington commented on #1472
Actually, you can see in the error I posted above that the file is not being downloaded from my mirror - it's already in the `pacman` cache (so it's obviously not a network error). If I clear the cache, I instead get the following error trying to download `pahole` from my mirror:

[code]

[2021-03-15 07:08] chrisjbillington commented on #1472
Apologies, actually I do see the same problem when running `makepkg`, so this is not a problem with `yay`. Sorry for the noise!

[2021-03-15 07:08] #1472 closed, assigned to nobody

[2021-03-15 22:28] Jguer commented on #1242
Hey @IslandC0der would you mind trying out #1473 , see if it fixes the issue?

[2021-03-15 22:56] Jguer commented on #1471
@bnainar added

[2021-03-15 22:56] #1471 closed, assigned to nobody

[2021-03-16 17:27] BrknRobot opened #1474 "Changes to pkgrel don't invalidate cached PKGBUILDs"
### Affected Version
yay v10.1.2.r31.g5f2a14d - libalpm v12.0.2

### Describe the bug
Yay detects that an AUR package is out of date when the pkgrel changes, but does not recognize that the PKGBUILD needs to be redownloaded resulting in the old version being rebuilt and reinstalled.

### Reproduction Steps
1. Install package from AUR
2. Wait for change in pkgrel
3. Update your AUR packages

### Ex

[2021-03-16 17:33] Jguer commented on #1474
@nloewen can you give an example package where this happened?

[2021-03-16 17:51] Jguer commented on #1474
https://aur.archlinux.org/cgit/aur.git/log/?h=freerdp-git seems that it was a bit updated out of phase, I'll investigate if I can reproduce it

[2021-03-16 21:58] Jguer commented on #1375
@blueyed implemented in #1473 , care to try before merging?

[2021-03-17 22:18] #953 closed

[2021-03-17 22:18] #1242 closed

[2021-03-17 22:18] #1375 closed, assigned to Jguer

[2021-03-18 07:53] dr-br opened #1475 "yay -Qdt results in exit status 1"
### Affected Version

[code]

### Describe the bug
A `yay -Qdt` results in `exit status 1`. Functionality seems not to be affected.
`sudo pacman -Qdt` works (no orphans on my system)

### Expected behavior
no `exit status 1` output

### Output

[code]

[2021-03-18 14:04] matthewarmand commented on #1475
Came here to report the same thing, same version info as OP. I also experimented with sending the `q` output to `/dev/null` and this had no effect in dampening that message:

[code]

[2021-03-18 16:31] grandchild commented on #1475
Note: This only happens if no orphans are present. `yay` does not report `exit status 1` when there is other output.

[2021-03-18 16:36] grandchild commented on #1475
@matthewarmand that message is not output to stdout, which is the output you are redirecting to `/dev/null` but it's stderr instead.

To hide that you have to redirect the stderr filedescriptor, which is `2`:
[code]

(N.B. When you want to hide both stdout (fd: `1`) and stderr (fd: `2`) you have to be a bit more creative:
[code]
The last part says "stderr (`2`) gets redirected (`>`) to the target

[2021-03-18 16:39] matthewarmand commented on #1475
Correct, presumably because yay is not returning an exit code of 1 (or any other non-zero exit code) in that case.

Yeah I figured that was the case, just wanted to call it out in case it helped find/debug the problem. Thanks for the tip! I might use your suggestion to clean up my script output, or I'll just wait for this fix :)

[2021-03-18 21:41] Jguer commented on #1475
@matthewarmand @dr-br I've added a fix on `yay-git` would you mind trying it out?

[2021-03-18 22:04] matthewarmand commented on #1475
@Jguer I just installed `yay-git` and tried it and it works for me! When no orphans present it still returns the exit code to the shell
but the `exit status 1` text is no longer printed. Looks great, thanks!

[2021-03-19 08:33] dr-br commented on #1475
@Jguer :+1:
(works)

[2021-03-19 15:36] velaar opened #1476 "AUR package refuses to build"
### Affected Version

Current: `yay v10.1.2 - libalpm v12.0.2`
Update: `10.2.0-1`

yay-git has the same behaviour

### Describe the bug

A package from AUR refuses to build with ```cgo: cannot load DWARF output from $WORK/b082//_cgo_.o: decoding dwarf section info at offset 0x0: too short``` See full output below.

### Reproduction Steps
1. yay -Suy

### Expected behavior

### Output

[code]

[2021-03-20 04:01] Fire100265 commented on #1476
I have the exact same problem. Manually building the package with makepkg -sic also gives me the exact same error. Surprisingly, I can still build the package in my virtual machines.

[2021-03-20 09:20] Jguer commented on #1476
Hey @velaar and @Fire100265 , I'm having issues reproducing this bug could you post the output of:

[code]

[2021-03-20 14:07] Fire100265 commented on #1476
Thank you for your reply @Jguer . Here is the output of the command: `go 2:1.16.2-1
error: package 'gcc-go' was not found
pacman 5.2.2-2`. go and gcc-go are in conflict with each other it seems.

[2021-03-20 15:10] velaar commented on #1476
Hey @Jguer

I had the same version as @Fire100265. Tried building yay with gcc-go (just in case). Looks like the same result.

update: the issue was also reported by rageltman on [aur](https://aur.archlinux.org/packages/yay/)
[code]

[2021-03-20 17:49] Jguer commented on #1476
@velaar @Fire100265 Could you try and install `yay-git`, although I have not been able to reproduce the issue I've pushed a tentative fix to the next branch

[2021-03-20 17:52] Jguer commented on #1475
Closing this issue then :smile: , expect a yay release soon

[2021-03-20 17:52] #1475 closed, assigned to Jguer

[2021-03-20 19:59] velaar commented on #1476
No change on my side. (clean build)

[code]

[2021-03-21 01:06] Fire100265 commented on #1476
No change for me either. I have the exact same errors as @velaar .

[2021-03-21 04:24] kryesh commented on #1476
I was having the same problem, after some tinkering I found that having "-flto" in my makepkg.conf CFLAGS could be the cause.
Removed the flag and now the package builds correctly.

[2021-03-21 04:36] Fire100265 commented on #1476
Hi @kryesh . I think you might be on to something. I had -flto set as a CFLAG in my .zshrc. Removing it allowed the package to build correctly. Is there a reason why the package does not build with the -flto flag?

[2021-03-21 04:54] kryesh commented on #1476
Not sure about a specific cause for this package, disabling LTO has just become something I try when debugging obscure errors when building software.
Interesting stackoverflow post here for further reading: https://stackoverflow.com/questions/23736507

[2021-03-21 11:41] grandchild commented on #1476
I don't know about this package specifically but in general LTO requires that C/C++ global symbols be unique throughout the whole codebase. Normally they only need to be unique within the compilation unit (that is one .c or .cpp file and its included headers).

In general that means you cannot simply turn on LTO globally and expect software to just build. People might have the same name for a glob

[2021-03-21 17:39] Jguer commented on #1476
Since it's a custom user preference and not a default I've removed the high priority tag. I'm keeping the changes to the makepkg and `PKGBUILD` for the next release to follow Arch packaging guidelines

[2021-03-22 10:36] Jguer commented on #1461
Closed as duplicate

[2021-03-22 10:36] #1461 closed, assigned to nobody

[2021-03-23 02:52] guihkx opened #1478 "Rust program fails to pass a test, but works just fine when using makepkg"
### Affected Version
yay v10.2.0 - libalpm v12.0.2

### Describe the bug
The [sfz package](https://aur.archlinux.org/packages/sfz) has a `check()` function that runs tests from upstream, but this specific test is failing only when building with `yay`:

[code]

### Reproduction Steps
1. Set the `RUST_BACKTRACE=1` environment variable (optional)
2. Run `yay -S sfz`
3. Wait for completion of the `che

[2021-03-23 09:07] grandchild commented on #1478
This probably happens because yay builds in `~/.cache/yay/...` by default. `~/.cache` is a hidden directory and I guess the test fails because of that.

I would argue the test should be fixed, because it's dependent on where the software builds, which is... not good.

[2021-03-23 09:08] grandchild commented on #1478
You can try and reproduce the issue with `makepkg` by cloning the git repo inside some (maybe temporary) directory that starts with a `.`, like `~/.mytemp/` and see if the issue occurs with plain `makepkg` there as well.

[2021-03-23 13:59] guihkx commented on #1478
That was spot on! This indeed seems like it should be fixed on sfz's side, so I'll report there.

Thanks!

[2021-03-23 13:59] #1478 closed, assigned to nobody

[2021-03-23 16:42] #1476 closed, assigned to nobody

[2021-03-23 16:43] Jguer commented on #1223
Implemented as `-Gp` by @nycex , thank you very much

[2021-03-23 16:43] #1223 closed

[2021-03-24 12:38] elgs commented on #808
This works when it's run from command line or a script. But it doesn't work in a systemd service:

[code]
The line above in a systemd service doesn't work.

[2021-03-24 22:38] grandchild commented on #808
@elgs service file `Exec*` lines are not a shell. If you want piping and all those cool things, then get a shell first:

[code]

[2021-03-24 22:39] elgs commented on #808
@grandchild thank you. That works!

[2021-03-25 06:04] zjsxwc commented on #795
hi, i had the same problem.

first i had a socks5 proxy provided by localhost port `1080`.
and i tried ` export http_proxy=socks5h://127.0.0.1:1080`,
then i ran `yay -S xxx` failed.

but i foud two way to use the socks5 proxy successfully.
one is to use `export http_proxy=socks5://127.0.0.1:1080` , here i use `socks5` instead of `socks5h`.
another one is to use `https://github.com/oyyd/http-proxy-

[2021-03-25 21:36] SwooshyCueb opened #1479 "Not given opportunity to edit PKGBUILD when required packages not found"
### Affected Version
`yay v9.4.4 - libalpm v12.0.2`

### Describe the bug
Attempting to build an AUR package that depends on a nonexistent package will error out before prompting the user to edit the `PKGBUILD`.
A good example (as of this writing) is `yala`, which depends on `pydocstyle`, which does not exist in the AUR or in the official package repositories.

### Reproduction Steps
1. Identify a

[2021-03-26 10:04] moshiur-raj opened #1480 "Dependencies should be installed with --asdeps option"
### Affected Version
yay v10.2.0 - libalpm v12.0.2

### Describe the bug
I tried installing tutanota-desktop-bin. The dependencies were installed first and then yay started downloading tutanota. However the download failed. I tried listing the dependencies using pacman -Qtdq but I did not get the dependencies for tutanota. I checked the pacman log and it seems yay installed the dependencies withou

[2021-03-26 16:39] Jguer commented on #1480
'nss' 'libxss' 'libxtst' 'libappindicator-gtk3' 'libnotify' 'openssl' are the dependencies for tutanota-desktop, would you mind pointing out which were installed in your case?

I'll try and reproduce this issue

[2021-03-26 17:01] moshiur-raj commented on #1480
Only `libappindicator` was needed.

![image](https://user-images.githubusercontent.com/36466700/112666966-ec878b80-8e86-11eb-9f46-4402d9bf2159.png)

As you can see from the `tail` command `--asdeps` was not used which is why `pacman -Qtd` did not show any packages.

EDIT: I totally missed the last line. It seems --asdeps was used later? Why does `pacman -Qtd` not work then ?

[2021-03-27 09:15] molaeiali commented on #511
I have the same problem here, but it's about not respecting CARCH, I want to build mongodb-bin, it has a depends_aarch64 dependency which is not required by my architecture (x86_64) but yay is trying to install that dependency, running makepkg manually doesn't need the dependency though.

I think maybe /etc/makepkg.conf should be default in yay config
@Morganamilo

[2021-03-27 09:17] cysp74 opened #1481 "removemake option / dependencies not been removed after installation"
### Affected Version
yay v10.2.0.r8.g2da1e15 - libalpm v12.0.2

### Describe the bug
Yay doesn't remove make dependencies after installation.
Doesn't offer interactive selectable option.
Checked with "removemake" option also.

yay -sc recognizes installed dependencies can able to remove.

### Reproduction Steps
yay -S <wanted package>

### Expected behavior

Remove dependencies

### Output
config:

[2021-03-27 14:52] andreluizs opened #1482 "Error installing yay"
### Describe the bug
When try to install yay i have an error.

### Reproduction Steps
1. git clone https://aur.archlinux.org/yay.git
2. cd yay && makepkg -si --noconfirm

![yay-error](https://user-images.githubusercontent.com/7385294/112724539-a1a35d80-8ef2-11eb-92d7-d25c6514dc9c.png)

[2021-03-27 18:58] Jguer commented on #1482
Seems to be working here, momentary GitHub hiccup?

[2021-03-27 19:01] Jguer commented on #1480
Can you check `pacman -Qi libappindicator-gtk3`? It should tell you if it's a required by for something or an optional for which would make it not appear in  `pacman -Qtd`

[2021-03-27 19:17] moshiur-raj commented on #1480
Ah, It was optional for electron. Still this is a problem. If I want to install an AUR package and the installation fails then I'm left with unwanted dependencies.
Can you add a feature that removes newly installed dependencies if the installation was not successful?

[2021-03-27 21:38] andreluizs commented on #1482
You're right, I think it was my connection.
Thank you and sorry for that.

[2021-03-27 21:38] #1482 closed, assigned to nobody

[2021-03-31 13:14] grandchild commented on #1481
* Which package were you installing?
* Are you sure that none of the make-dependencies are optional dependencies for other packages you have installed? Have a look with `yay -Qi $PACKAGE | grep Optional`.
* Were no make-dependencies removed, or were some of them removed and others not?

[2021-03-31 13:20] grandchild commented on #511
@molaeiali Can you open a new issue? I think this is a different problem, in that yay doesn't parse the `depends_aarch64` correctly (and unconditionally includes it on other architectures as well). I don't think makepkg is involved in this problem.

[2021-03-31 13:26] cysp74 commented on #1481
1. You mean Eg. wine-staging-git, geany-git, srain-git.
2. Quite certain, before updating packages above yay installed prereqs
for make, but after no installed packages removed.
3. no make deps removed at all.

+1 yay -sc removes make deps without hassle after yay -S <packages
above>

Thanks.

-----Original Message-----
From: jakob ***@***.***>
Reply-To: Jguer/yay
***@***.***>
To: Jguer/yay ***@**

[2021-03-31 15:49] Jguer commented on #511
https://aur.archlinux.org/rpc/?v=5&type=info&arg[]=mongodb-bin @molaeiali yay uses the RPC to fetch dependencies and the RPC unfortunately doesn't split between architectures making it impossible to fix (using our current dependency fetching)

[2021-03-31 16:47] grandchild commented on #1481
I just tried with `geany-git`. Both with `"removemake"` set to `"ask"` and answering yes at the prompt, as well as when setting it to `"yes"`: Both times installing it did successfully install _and uninstall_ `doxygen` and `python-reportlab` (the two make-dependencies I happened to miss).

[2021-03-31 16:59] molaeiali commented on #511
Ok so, I think a new issue is not necessary anymore @grandchild, a question due, Is there any way to suggest adding it in rpc? Arch Linux mailing list? irc? or any repo to open an issue that you are aware of? @Jguer

[2021-03-31 18:45] Porkepix opened #1483 "Yay doesn't handle moved repository for AUR/devel, needing user to clean cache manually"
### Affected Version
yay v10.2.0 - libalpm v12.0.2

### Describe the bug
For an AUR `-git` package, if the repository move, yay result in an error as it tries to update a local repository with wrong remotes:

`==> ERROR: /home/clement/.cache/yay/libadwaita-git/libadwaita is not a clone of https://gitlab.gnome.org/GNOME/libadwaita
`

As visible [here](https://aur.archlinux.org/cgit/aur.git/commit/?

[2021-03-31 19:22] cysp74 commented on #1481
[yyy@xxxx ~]$ yay -S geany-git
:: Checking for conflicts...
:: Checking for inner conflicts...
[Repo:5]  doxygen-1.9.1-1  python-docutils-0.16-4  libimagequant-2.14.1-1  python-pillow-8.1.2-1  python-reportlab-3.5.66-1
[Aur:1]  geany-git-1.36.0.r49.gd8f532b5a-1

  1 geany-git                        (Installed) (Build Files Exist)
==> Packages to cleanBuild?
==> [N]one [A]ll [Ab]ort [I]nstalled [No

[2021-03-31 21:15] grandchild commented on #1481
Ah, I'm so sorry. I _can_ reproduce with yay-git. So one of the last 8 commits did break this.

[2021-04-03 14:03] amo13 commented on #1095
I am also very interested in this issue, because it is regularly a struggle with yay when testing custom/new PKGBUILD files for the AUR. I came here from [this discussion](https://www.reddit.com/r/archlinux/comments/jj15c5/how_to_install_custom_pkgbuild_with_aur/).

[2021-04-05 14:49] shiraneyo commented on #336
Clear +1 from me, official support for this would be great.

In the meantime, I'm overriding makepkg by creating the below script under /usr/local/bin/makepkg. This approach has the advantage of not needing to touch the yay build parameters for the customized packages, so that `yay -Syyu --noconfirm` works fine.

[code]

[2021-04-05 14:49] Jguer commented on #1095
https://github.com/Jguer/yay/pull/1459 this specifc change was implemented here, there are probably some ops not covered by this yet, I'd love to know these :sweat_smile:

[2021-04-05 15:12] Jguer commented on #511
Upstream abandoned discussion with some pointers for a potential patch

https://lists.archlinux.org/pipermail/aur-dev/2014-December/003012.html

https://bugs.archlinux.org/task/48796

---

https://bbs.archlinux.org/viewtopic.php?pid=1617103#p1617103

Does give some ideas, SRCINFO scraping and parsing would be possible but will require some ( a lot) of changes in yay and it's not the proper way to

[2021-04-05 15:31] Jguer commented on #1481
Time to start digging I guess

[2021-04-07 21:29] UnlimitedCookies commented on #1142
Sorry to bring up this stale issue again.

Why don't we add `fakeroot` to the dependencies? It is required for the core functionality of yay.

[2021-04-08 09:25] Jguer commented on #1142
https://wiki.archlinux.org/index.php/Arch_User_Repository#Getting_started
https://wiki.archlinux.org/index.php/PKGBUILD#makedepends

As written on the wiki:

It's required for a core functionality of makepkg and the group base-devel is assumed to be already installed when building with makepkg. I'm ok with adding a note to the `README.md` reminding users to have `base-devel` installed

[2021-04-08 16:54] SowTag commented on #1194
This changed in the last yay versions. I had to use `yay --sudo doas --save` instead of --sudobin.

[2021-04-12 15:01] akss13 opened #1487 "Error installing yay - Gocenter sunset"
### Describe the bug

yay installation aborts with an error. Possibly a go issue.
### Reproduction Steps
1. pacman -S --needed git base-devel
2. git clone https://aur.archlinux.org/yay.git
3. cd yay && makepkg -si

### Expected behavior

yay should install without any errors.

### Output

[code]

[2021-04-12 15:02] danny88br opened #1488 "Unable to compile"
### Affected Version
d3bc19a0034cccb1fa19765c9eb51c7d776394e7

### Describe the bug
unable to build

### Reproduction Steps
pacman -S --needed git base-devel
git clone https://aur.archlinux.org/yay.git
cd yay
makepkg -si

### Expected behavior
installable pkg

### Output
[code]

[2021-04-12 15:02] per7ance opened #1489 "Installation on Raspberry Pi/Manjaro"
### Affected Version
This is a bug while installing yay but when I tried, [this commit.](https://github.com/Jguer/yay/commit/2da1e154c296ada4cfc02c097815cd84af61b71f) was the last commit.

### Describe the bug
(Note: This is maybe not a bug but wanted to inform people who wants to install yay on RPi.)
I wanted to install yay on my Raspberry Pi with Manjaro installation. When I tried the commands b

[2021-04-12 15:02] #1489 closed, assigned to nobody

[2021-04-12 15:03] akss13 commented on #1487
I have done a fresh install, the problem still persists.

[2021-04-12 15:08] per7ance commented on #1487
Try these solution steps [at here](https://github.com/Jguer/yay/issues/1489) with x86_64 one.

[2021-04-12 15:09] per7ance commented on #1488
Try these solution steps [at here](https://github.com/Jguer/yay/issues/1489) with x86_64 one.

[2021-04-12 15:14] Jguer commented on #1488
https://status.gocenter.io/

Related to the gocenter's phase out, `yay-git` should install correctly, I'll be making a patch release soon enough

[2021-04-12 15:15] Jguer commented on #1487
https://status.gocenter.io/

Related to the gocenter's phase out, yay-git should install correctly, I'll be making a patch release soon enough

[2021-04-12 15:16] Jguer commented on #1488
Closing in favor of #1487 that was open first

[2021-04-12 15:16] #1488 closed, assigned to nobody

[2021-04-12 15:57] martin-dos-santos commented on #1487
Great!, I'm trying to install yay too and I got this error, can I ask what is the benefit of using gocenter as GOPROXY?

[2021-04-12 15:59] Jguer commented on #1487
`yay` AUR package has been updated and should be working now.

gocenter was set as the default go proxy for chinese users that generally have github and the default goproxy blocked. I've set direct as the preferred method for now, until I get some reports from blocked users

[2021-04-12 16:17] martin-dos-santos commented on #1487
Thanks for taking the time to answer, it's working great now :).

[2021-04-13 13:58] #1487 closed, assigned to nobody

[2021-04-14 23:59] stickyburn commented on #1194
@Jguer since flag options do change and swapped flags dont throw any errors, could we atleast settle on a fixed, particular flag for `doas`?
Or maybe we could have an option to set them on install? That would be quite nice and introduce people to both these cool technologies!

Open to help with what I can :)

[2021-04-15 07:48] freed00m commented on #1194
@yashank09 I agree with you.

What I feel would be the best is to develop a posix wrapper script that does what you say, and it could be shipped or as optional dependency with yay as well :) so if user want to use doas, it would raise a warning about flags and tell user to set sudobin to the wrapper.

If the choice would be to handle this in yay binary directly then I am fine with it also but it i

[2021-04-15 08:29] stickyburn commented on #1194
@freed00m edited my answer a bit... Could/should I add a similar wrapper during install? and based on the response, it adds the flag or leaves it?

[2021-04-15 12:08] Jguer commented on #1194
My current approach would be:

1. On launch yay loads its settings as usual
2. yay checks if `sudobin` binary actually exists
3. if it's set to a custom option, fail, let the user fix it
4. If it's set to `sudo`, the default option, check if `doas` exists and use that instead
5. else fail, let the user fix it

----

If `sudo` is set to `doas`, clean up flags where needed

[2021-04-15 12:35] freed00m commented on #1194
How? what if user have something else that does conflict with the flags? For example custom wrapper. Or some other privilege escalating software.

It should add flags only if it the program can understand them.

[2021-04-16 01:37] snowman opened #1490 "Error when upgrade yay"
### Affected Version
yay v10.2.0 - libalpm v12.0.2

### Describe the bug

Can't upgrade yay package, it shows error:

[code]

### Reproduction Steps
```$ yay -S yay```

### Expected behavior
Should be upgrade successfully

### Output
[code]

[2021-04-16 01:45] snowman commented on #1490
seems network issues

[2021-04-16 01:45] #1490 closed, assigned to nobody

[2021-04-16 16:01] mindyourlifeguide commented on #289
How do I enable this sorting?

[2021-04-16 16:54] mindyourlifeguide opened #1491 "Sort upgrade menu by pacman.conf order"
How do I enable [this](https://github.com/Jguer/yay/issues/289#issuecomment-376019964) sorting?
#289 #290

![image](https://user-images.githubusercontent.com/35348648/115058037-760e0480-9eed-11eb-82ad-81afab15e7ae.png)

[2021-04-16 17:02] ModProg commented on #1215
Really annoying if you have a big package and it fails because of an already installed package.

[2021-04-17 15:14] ljrk0 commented on #1405
Yep, this happens if login is needed, for me it was `wdisplays-git`.

EDIT: To track this you can run `watch -n 0.1 'ps aux | grep git' >> log` while updating, or the like.

[2021-04-17 18:12] ljrk0 commented on #1405
Likely the git CLI exits with 128 since it isn't run on an interactive terminal as it expects.  One could either force/fake that or ask for credentials on ones own and pass it to the CLI.

Alternatively, long-term, one may transition to using the libgit2 Go bindings by Git2Go.  Using these, this particular function is quite easy to implement, I did a PoC here: https://github.com/ljrk0/yay/tree/git

[2021-04-18 04:48] #1002 closed

[2021-04-19 10:04] Morganamilo commented on #1491
What does it look like for your currently?

[2021-04-19 10:12] mindyourlifeguide commented on #1491
@Morganamilo Now it looks like this:
 - community
 - core
 - extra
 - aur

And there should be
 - core
 - extra
 - community
 - aur
![image](https://user-images.githubusercontent.com/35348648/115220017-c0230000-a110-11eb-9c97-bf6aa94d9ef5.png)

[2021-04-19 10:13] Morganamilo commented on #1491
What's your pacman.conf look like?

[2021-04-19 10:17] mindyourlifeguide commented on #1491
![image](https://user-images.githubusercontent.com/35348648/115220674-7c7cc600-a111-11eb-8cb6-73d2ea9ec358.png)
![image](https://user-images.githubusercontent.com/35348648/115220691-8272a700-a111-11eb-830e-1a662ee12ed7.png)

[2021-04-19 10:19] Morganamilo commented on #1491
You know what, I get the same thing. My guess is some one broke the sorting :P

[2021-04-19 10:31] mindyourlifeguide commented on #1491
Can I fix it somehow?

[2021-04-19 11:45] Morganamilo commented on #1491
I made a PR for it to relive old times heh.

[2021-04-19 12:28] mindyourlifeguide commented on #1491
@Morganamilo Thank you very much!

[2021-04-20 09:19] Crandel opened #1494 "Yay ignore SUDO_ASKPASS"
### Affected Version

yay v10.2.1 - libalpm v12.0.2

### Describe the bug
I use gnome-keyring together with secret-tool from [libsecret](https://archlinux.org/packages/core/x86_64/libsecret)
I unblock gnome-keyring and all tools ask for sudo password from secret tool. Pacman works fine too. But yay ignore this variable somehow and ask sudo password from stdin every time I need to install packages

[2021-04-20 15:36] grandchild commented on #1494
Pacman works fine because it never calls sudo, it's called _with_ sudo.

The yay issue is probably an environment thing. [pkg/settings/exe/exec.go](/Jguer/yay/blob/next/pkg/settings/exe/exec.go#L36) should probably set `cmd.Env = os.Environ`.

[2021-04-20 18:46] danielwagn3r opened #1495 "Error "net/http: TLS handshake timeout" during go build"
### Affected Version
yay v10.2.0 - libalpm v12.0.2

### Describe the bug
When trying to upgrade yay to latest version an error is raised.

### Reproduction Steps
1. `yay -S yay`

### Expected behavior
Upgrade is performed, as on other architectures.

### Output
[code]

[2021-04-21 09:22] odinu commented on #1126
I also got here because of `tonelib-jam-bin` :smile: For this package at least I know it can never update so I can skip it every time I run yay, but for others that might sometimes work it's a guessing game, and it takes half an hour of building something until it fails, just to have to exclude it and run everything again ...until something else fails.

[2021-04-21 14:53] grandchild commented on #1494
Digging further into the `sudo` manpage, `SSH_ASKPASS` is only taken into consideration when one of two things happens:
* the sudo process is not connected to a terminal (this is not the case in yay, it is connected)
* you call sudo with the `-A` flag

The problem is that if you set `-A`, sudo will exit with error if `SSH_ASKPASS` is not set. There seems to be no way to say "Use SS_ASKPASS if avai

[2021-04-21 14:57] Crandel commented on #1494
@grandchild Yes, you are right, I'm using alias for this
[code]
2 option sounds good for me and should be easy to implement

[2021-04-21 17:54] #1444 closed, assigned to nobody

[2021-04-21 18:20] thibaultmol commented on #1109
Feels like this doesn't happen on first install?
if I install an aur package using yay, the first time it requires an update, It'll show the entire pgkbuild.
Second time it'll show the difference.
Yet the moment I installed it first, I already checked the whole pkgbuild.

Is this issue related?

[2021-04-23 18:21] starsareintherose opened #1496 "Can't Build. GOPROXY is blocked"
### Affected Version

### Describe the bug

Can't install
### Reproduction Steps.
Same as the install guide

### Expected behavior

can use it
### Output

[code]
and then stop
and produce `error while build()`

[2021-04-24 04:57] WryBin commented on #1496
I'm in the same situation as you

[2021-04-24 10:58] Morganamilo commented on #1496
Please post the full error.

[2021-04-24 12:03] starsareintherose commented on #1496
Could you provide any deltails, I actually installed it via other methods

[2021-04-24 15:33] Jguer commented on #1496
I feel it's the change of go proxy, can you please post your full log and if you have any go environment variables set such as `GOPROXY`, `GOROOT` or `GOPATH`?

[2021-04-25 02:46] huyz-git opened #1497 "New pacman-git breaks yay"
### Affected Version

10.2.1.r7.g29f4c43

### Describe the bug

`yay-git` can't build with latest `pacman-git`
Version of `pacman-git` is `6.0.0alpha1.r99.g558d08d8`
ps. Old version `6.0.0alpha1.r86.gc294b7cb` doesn't have this issue

### Reproduction Steps
1. Install latest `pacman-git`
2. Try build `yay-git`

### Expected behavior

`yay-git` should build.

### Output

[code]

[2021-04-25 16:25] starsareintherose commented on #1496
==> 正在创建软件包：yay 10.2.1-1 (2021年04月26日 星期一 00时21分37秒)
==> 正在检查运行时依赖关系...
==> 正在检查编译时依赖关系
==> 获取源代码...
  -> 找到 yay-10.2.1.tar.gz
==> 正在验证 source 文件，使用sha256sums...
    yay-10.2.1.tar.gz ... 通过
==> 正在释放源码...
  -> 正在解压缩 yay-10.2.1.tar.gz，使用 bsdtar
==> 正在删除现存的 $pkgdir/ 目录...
==> 正在开始 build()...
pacman>6
go build -trimpath -mod=readonly -modcacherw  -ldflags '-X "main.yayVersion=10.2.1" -X "main.localeP

[2021-04-26 02:09] WryBin commented on #1496
This is mine. I'm just following the official tutorial and when I type makepkg -si, I get an error like this:

==> Making package: yay 10.2.1-1 (Sun 25 Apr 2021 01:05:19 AM CST)
==> Checking runtime dependencies...
==> Checking buildtime dependencies...
==> Retrieving sources...
  -> Found yay-10.2.1.tar.gz
==> Validating source files with sha256sums...
    yay-10.2.1.tar.gz ... Passed
==> Extract

[2021-04-28 17:45] grazzolini opened #1498 "Set a custom User Agent"
### Is your feature request related to a problem? Please describe.
No.

### Describe the solution you'd like
For yay to use a custom UA when making requests to the AUR. Right now it uses go-http-client as UA.

### Describe alternatives you've considered
None.

### Additional context

[2021-04-28 17:47] Morganamilo commented on #1498
What would the use for this be?

[2021-04-28 18:05] grazzolini commented on #1498
Recently we had issues with Pamac hammering the AUR, and we took advantage that it sent a custom UA to be able to block it and mitigate the issue. If yay sends an UA, it makes it easier to spot issues and know where to report problems.

[2021-04-28 18:14] Morganamilo commented on #1498
Right. You'll probably need https://github.com/mikkeloscar/aur to add support as all requests go through that.

[2021-04-28 18:16] grazzolini commented on #1498
Ah, I didn't knew yay was using that wrapper.

[2021-05-01 15:46] x1b6e6 commented on #1497
This bug caused by breaking API in `pacman-git`. Awaiting fix at Jguer/go-alpm#43. Then here.

[2021-05-02 20:48] goodgerster commented on #1481
I'm experiencing the same problem with `yay-bin` version 10.2.1-1 when building `inkscape-git`.

[2021-05-03 10:28] walwan commented on #1481
It seems that yay cannot tell makedeps from other deps since I would expect packages like "doxygen" to be in "repo make" list instead of "repo" list.

[2021-05-04 06:43] #1497 closed, assigned to nobody

[2021-05-05 10:16] goodgerster commented on #1481
I think I can confirm @walwan's hypothesis:

[code]

[2021-05-05 20:42] Jguer commented on #1481
Yes I confirm this a regression in this version of yay, the install is properly done but the separation on the categories got bugged

[2021-05-06 11:05] workonfire commented on #1481
Can confirm as well, this happens on `yay v10.2.1.r9.g767c797 - libalpm v12.0.2`. Yay sometimes mixes regular dependencies with makedepends, even though there aren't any, or they're already installed.
[code]
Expected output based on the [babi](https://aur.archlinux.org/packages/babi/) package:
[code]

When pacman installs the package, it indicates that there's something wrong:
[code]
and `yay -c`

[2021-05-07 22:41] #1491 closed, assigned to nobody

[2021-05-07 22:45] Jguer commented on #1481
@workonfire  @goodgerster @cysp74 can you confirm this issue is fixed in `yay-git`?

[2021-05-08 08:10] workonfire commented on #1481
Yes. It's working as expected.

[2021-05-09 05:16] arenekosreal commented on #1496
这是网络连接的问题，找找网上的资料设置`GOPROXY`或者直接设置全局代理
This is because you have connection problem. You can search for ways to set `GOPROXY` or set global proxy directly.

[2021-05-10 08:24] starsareintherose opened #1502 "make: *** [Makefile:112: yay] Error 1"
### Output

[code]

[2021-05-10 08:28] starsareintherose commented on #1502
It seems that similar to my previous inssue

[2021-05-10 08:28] #1502 closed, assigned to nobody

[2021-05-10 08:34] starsareintherose commented on #1496
Thanks, solved

[2021-05-10 08:34] #1496 closed, assigned to nobody

[2021-05-10 08:56] danielwagn3r commented on #1495
With recent go 1.16.4 the update to yay 10.2.2-1 now is working.

[2021-05-10 12:57] vomidug opened #1503 "new version is not building when tmpfs is 4gb"
### Affected Version
vomidug@arch  ~  yay -V
yay v10.2.1 - libalpm v12.0.2

### Describe the bug
go doesn't build it in tmpfs, when it is 4gb
### Reproduction Steps
1. df -h
Filesystem      Size  Used Avail Use% Mounted on
dev             3.9G     0  3.9G   0% /dev
run             3.9G  1.4M  3.9G   1% /run
/dev/sda2       211G   35G  166G  18% /
tmpfs           3.9G   69M  3.9G   2% /dev/shm
tm

[2021-05-10 13:07] vomidug commented on #1503
In prev. post logs contained also vue-cli, psb output with yay only
[code]

[2021-05-10 16:01] Jguer commented on #1503
From my silly measurement, building yay only took up `38MB` of space momentarily in my `/tmp` mounted with `tmpfs`. I fear something else may have filled up your `/tmp`.

[2021-05-11 08:52] vomidug commented on #1503
got a kernel panic, after fixing it yay started to build fine. my bad, closing the issue

[2021-05-11 08:52] #1503 closed, assigned to nobody

[2021-05-12 22:02] goodgerster commented on #1481
Appears to be fine on `yay v10.2.2 - libalpm v12.0.2`:

[code]

Thanks.

[2021-05-13 11:01] ranomier commented on #1246
I love your idea!
A workaround would be to increase the scroll history.

But having to scroll is still bad. yay should gather all the errors while running and display them at the end.

[2021-05-13 17:41] Jguer commented on #1481
Yeah, this was my bad implementing `-dd`, I'm working towards reducing the frequency of these. Thanks for the patience

[2021-05-13 17:41] #1481 closed, assigned to nobody

[2021-05-13 17:44] Jguer commented on #1246
After some research, I want to bundle this with the "ignore failing packages" feature #1126 as the changes that will allow this will also allow that one

[2021-05-14 19:58] marcelroed opened #1506 "Install of yay 10.2.2 fails when using yay 10.2.1"
### Affected Version

[code]

### Describe the bug

When installing 10.2.2-1 using 10.2.1 I get the following error.

### Reproduction Steps
1. Have yay 10.2.1
2. Run `yay -S yay`
3. Install fails

This seems particular to my system, but I cannot for the life of me understand why it happens.

### Expected behavior

Successful installation

### Output

After running `yay -S yay`
[code]
Configuratio

[2021-05-14 20:00] marcelroed commented on #1506
Fixed by downgrading `pacman 6.0.0alpha1-1` to `5.2.2-3`

[2021-05-14 20:00] #1506 closed, assigned to nobody

[2021-05-15 06:05] hockeymikey commented on #1126
This needs to be a feature. I just ignore the failed package by removing it from my upgrade arguments and continue on my way. There's no reason not to automate that, it's completely optional for the user to use and just gives people more freedom to manage their machines how they see fit.

[2021-05-15 08:26] Jguer commented on #1506
If you want to use pacman 6 capabilities you can install `pacman-git` (you'll need to recompile yay)

[2021-05-15 10:58] TypoMustakes opened #1507 "Add additional AUR URLs instead of overwriting it"
### Is your feature request related to a problem? Please describe.

It sucks whenever I have an idea for an AUR package that would be extremely useful to me specifically, but then I remember that the package could get removed from the AUR because it was meant for my personal use (for example, a package for my dotfiles so I could just `yay -Sy my-dotfiles` to sync them across all my devices).

###

[2021-05-15 12:07] Morganamilo commented on #1507
I don't think adding this would benefit anyone other than you to be honestp and even then are you really going to setup your own aurweb for this? It's quite a fidely thing to set up.

You could just keep these packages in git. Or a local repo.

[2021-05-15 19:30] Jguer commented on #1507
Hey @MiskolcziRichard , the user's AUR URL would have to answer according to https://wiki.archlinux.org/title/Aurweb_RPC_interface. It doesn't seem very feasible for a user to implement this.

As @Morganamilo suggested, a local repository may be the best solution for this unless you're considering another usage scenario

[2021-05-17 04:37] Konzertheld commented on #1469
I'd like to jump in here. I've always wondered if I can keep a copy of the output yay produces. Pacman has a proper log file that contains its output - I'd like to see that for yay, too. Output redirection is not what I would like to have as that would not show the output to me while running. I would like to control / watch the process but keep a copy to check later. I could even imagine logging m

[2021-05-17 10:16] falkecarlsen opened #1509 "Make yay select only result for install, when search returns just one result"
### Is your feature request related to a problem? Please describe.
When searching for a package with yay returns just one result, I'm frustrated that simply pressing 'enter' does not install the package. I have to explicitly select the first (and only) result from the search.

### Describe the solution you'd like
I would like to have yay automatically select the first result when the result only c

[2021-05-17 22:49] marcosrdac opened #1510 "yay -S $PACKAGE_LIST results in error (only one operation may be used at a time)"
### Affected Version
yay v10.2.2 - libalpm v12.0.2

### Describe the bug
I have a variable with multiple package names, let's call it PACKAGE_LIST. When I use `pacman -Syu $PACKAGE_LIST`, results go as expected: each of the packages are installed. Doing an analogous line with yay with `yay -Syu $PACKAGE_LIST` returns the error "only one operation may be used at a time".

### Reproduction Steps
1.

[2021-05-18 04:24] Spixmaster opened #1511 "Install local PKGBUILD"
### Is your feature request related to a problem? Please describe.
I do not know whether it already exists although I read through the man page several times. I want to build a local PKGBUILD and install it. With paru it would be `paru -Ui`.

[2021-05-18 04:27] Spixmaster opened #1512 "Install local PKGBUILD, equivalent to paru -Ui"
I want to build a local PKGBUILD and install it. With paru it would be `paru -Ui` in the suitable working directory.

Is this already possible? I read through the man page several times and did not find it.

[2021-05-18 04:27] #1511 closed, assigned to nobody

[2021-05-20 20:58] JuniorJPDJ commented on #512
.

[2021-05-21 01:03] MrQubo opened #1513 "yay build fails with lto"
### Affected Version

v10.2.2, v10.2.1

### Describe the bug

v10.2.2 version of yay fails to build.

### Reproduction Steps

1. Add `lto` flag in OPTIONS in `/etc/makepkg.conf`
1. `git clone https://aur.archlinux.org/yay.git`
1. `cd yay`
1. `makepkg -si`

### Output

[code]

[2021-05-21 01:14] MrQubo commented on #1513
v10.2.1 fails as well, but I've installed it just fine before. Seems like something broke with `go`.

[code]

[2021-05-21 01:23] MrQubo commented on #1513
The problem was caused by "-flto" flag I've added to `CFLAGS` (and `CXXFLAGS`) in `/etc/makepkg.conf`.

[2021-05-21 07:47] x1b6e6 commented on #1448
@Lukas1818 I tried implement needed behavior with new flag `--one-by-one`

[demo on asciinema](https://asciinema.org/a/nDQccDGAfMnbOQO1umCNnxIyz)
You can see code at [here](https://github.com/x1b6e6/yay/tree/feat-one-by-one).

This behavior is what you want? If yes i will create PR.

[2021-05-21 08:22] x1b6e6 commented on #1448
I think this made for possibility disconnect from internet after download all sources and building packages offline.
This useful for systems what work in offline and connecting to internet only for updates (i haven't more ideas). After approving #1505 this behavior will be more comfortable.

[2021-05-21 10:57] LuckyTurtleDev commented on #1448
yes, thanks

But I think this may should the default behavior, because many package hit this problem, as example every -git package.
Building offline, should effect less user. For this a  `--downlaod-first` flag can be added.

[2021-05-21 12:32] sdirkwinkel commented on #1513
just had the same problem, thanks!

[2021-05-21 13:06] MrQubo commented on #1476
This is still a problem: https://github.com/Jguer/yay/issues/1513
I've also notices that snapd package also fails with `-flto` flag.
Maybe it's caused by the fact that this `_cgo_.o` isn't an ELF file but cgo expects it to be?

[2021-05-21 14:00] grandchild commented on #1448
Every -git package? i don't think so. git is in base-devel so you should have it installed before using the AUR / yay. It seems like a relative corner-case that packages have their own custom _downloader_. Most packages do fine with curl/wget/ssh/ftp/git.

[2021-05-21 15:01] LuckyTurtleDev commented on #1448
git is not part of the base-devel group. see:https://archlinux.org/groups/x86_64/base-devel/

But you are right the most arch user will install git before installing yay, instead of downloading the build-files from the aur web-interface.
But there exist also distributions, which are based on arch and which have yay in there official package source, as example the popular manjaro: https://discover.

[2021-05-21 15:14] x1b6e6 commented on #1448
@Lukas1818 git not in base-devel but it will be installed before downloading sources because installing dependencies from repo is earlier than downloading (if `git` placed in deps).

`yay` depends on `git` in [`PKGBUILD`](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=yay)

[2021-05-21 15:17] LuckyTurtleDev commented on #1448
ok I did not see this. But it make scene because yay must download repositories from the aur.

[2021-05-21 15:28] LuckyTurtleDev commented on #1448
So this problem appear only if the downloader is in the aur? I did not notify this. I had thought this problem will be hit, every time you install an aur package, which need a downloader, which is not already installed.

[2021-05-21 15:34] Morganamilo commented on #1448
It shouldn't be a flag, it should be the only option.

yay depends on git in PKGBUILD

Yes but there's svn packages too, plus packages with custom downloaders. So the talk about git is irrelevant.

[2021-05-21 15:41] x1b6e6 commented on #1448
Yes. So i don't know how new flag `--one-by-one` is really need. Situation is very rare and i don't think what someone will use this because easier install one by one manually.

Are you suggesting using this behavior by default?

[2021-05-21 15:43] Morganamilo commented on #1448
Yes, it's the correct way to do things and there's no advantage to the current way really.

[2021-05-21 20:57] bmilcs opened #1514 "Custom $GOROOT ENV Variable Trouble"
Hello,

I'm still very green in the Linux world, but I like to keep a tidy home directory. I periodically look up ~/.paths/ and try to relocate them if possible. Hence, my `$GOROOT=/home/bmilcs/.config/go/`.

During a recent `-Syu`, YAY complained that the GO dependencies were unavailable in $GOPATH. I tried customizing `PKGBUILD`'s `$GOPATH` to point to the same path as `$GOROOT`, but I had no lu

[2021-05-23 03:46] ScriptJunky opened #1515 "Show results as single-line output"
Here's what things look like currently;

[code]

The above is horrific. If I am looking for a package, I need to assume my grep work is going to match either the package name, or the description, but not both at the same time.

Ideally, this is what we should see;
[code]

With the above I can find packages that match on either the package name, OR the description, which is MUCH better.

[2021-05-23 04:20] Morganamilo commented on #1515
`Grep -B1` although I don't see why you would use grep anyway when the whole point of Ss is to search. Just search for what you want.

[2021-05-23 04:26] ScriptJunky commented on #1515
I am well aware of both `grep -B1`, and `grep -A1`. When you have more than 2 responses, your grep could match the description, or it could match the name. In both cases, you need to see both the app name, and the description.

Here's an example of how bad this can be;

[code]

[code]

If the screen real estate is there, why do we need to suffer with a condensed, multi-line output?
Also, until yay

[2021-05-23 22:26] Xplouder opened #1516 "Spotify install error"
### Affected Version
yay v10.2.2 - libalpm v12.0.2

### Describe the bug
OS: Manjaro
Can not install `spotify` package using yay, however using the OS's AUR installer it works fine.
I'm not sure if this is a problem directly related with yay tho.

### Reproduction Steps
1. yay -S --noconfirm spotify

### Expected behavior
Install the `spotify` package successfully.

### Output

[code]

[2021-05-24 04:37] BackMountainDevil opened #1517 "yay install eclipse-jsp but download many other eclipse(cpp, java, php, rust)"
### Affected Version

yay v10.1.2 - libalpm v12.0.2

### Describe the bug

I use yay to install eclipse-javascript according to Arch [Wiki](https://wiki.archlinux.org/title/Eclipse#Installation).  However, it also download other eclipse(cpp, java, php, rust). It will delete them at last. But this will cost some time to download and install.

### Reproduction Steps
1.yay -S eclipse-javascript

###

[2021-05-26 11:48] Jguer commented on #1516
Doesn't seem to be a `yay` issue but a `makepkg`/`PKGBUILD` issue

[2021-05-26 11:49] #1516 closed, assigned to nobody

[2021-05-26 11:51] #1139 closed

[2021-05-26 11:55] Jguer commented on #1517
- https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=eclipse (which is the PKGBUILD used) has a ingenious way to handle sources

- Does this happen with makepkg?

- If it does not, the usage of variables between the different phases seems to be causing this

[2021-05-26 11:55] #1517 closed, assigned to nobody

[2021-05-26 16:32] Jguer commented on #1514
I think you wanted to set `$GOPATH=/home/bmilcs/.config/go/` and not `GOROOT`. It's gopath that's "polluting" your home directory. By default the `GOROOT` is set somewhere in your usr/share

[code]

From https://www.jetbrains.com/help/go/configuring-goroot-and-gopath.html

[2021-05-26 16:33] #1514 closed, assigned to nobody

[2021-05-26 18:43] Xplouder commented on #1516
@Jguer ok, so what explains different results installing with arch gui (successfully) and with yay (error)?

[2021-05-26 18:54] bmilcs commented on #1514
I figured it was something I was doing wrong. Thank you!

[2021-05-26 20:36] #1507 closed, assigned to nobody

[2021-05-28 03:54] BackMountainDevil commented on #1517
I am a new guy in arch. Not really know [makepkg](https://wiki.archlinux.org/title/Makepkg_(%E7%AE%80%E4%BD%93%E4%B8%AD%E6%96%87)). But I will try with it and tell you if this work. Thanks for your reply.

[2021-05-31 16:27] ThatOneCalculator opened #1518 "Can't build yay: make: *** [Makefile:112: yay] Error 2"
### Describe the bug
Failed to build yay with pacman 6 installed

### Reproduction Steps
1. install pacman 6
2. paru -S yay
3. see error

### Output

[code]

[2021-05-31 16:31] ThatOneCalculator commented on #1518
I can also reproduce the error by cloning the github repo and running `make`

[code]

[2021-06-01 02:52] AlexApps99 opened #1519 "libalpm.so.12: cannot open shared object file ( Installed pacman without yay rebuild)"
### Affected Version
`yay -V`
`yay: error while loading shared libraries: libalpm.so.12: cannot open shared object file: No such file or directory`

### Describe the bug
Using yay in any way results in the following error message:
`yay: error while loading shared libraries: libalpm.so.12: cannot open shared object file: No such file or directory`
Yes, I keep it up to date.

### Reproduction Steps

[2021-06-01 02:57] ahmubashshir commented on #1519
you beat me to it :3

[2021-06-01 03:24] SamLukeYes commented on #1519
Rebuilding `yay` from AUR manually solves this problem.
https://wiki.archlinux.org/title/Arch_User_Repository#Installing_and_upgrading_packages

[code]

[2021-06-01 03:29] ahmubashshir commented on #1519
but, the question is, "Is the current yay api compatible with pacman 6?"

[2021-06-01 03:48] Liupold commented on #1519
quick fix:
[code]

[2021-06-01 05:24] mikoxyz commented on #1519
I mean, it seems to work perfectly, so probably?

[2021-06-01 06:22] JoveYu commented on #1087
you can use cached repo
[code]

[2021-06-01 06:24] JoveYu commented on #1519
you can use cached repo to rebuild
[code]

[2021-06-01 06:27] Jguer commented on #1519
Yes, yay is fully compatible with pacman 6, `yay-bin` needs to be rebuilt which I'll do in short order once the daily image gets rebuilt. I've bumped the pkgbuild so the people who are not so fast with their upgrades get the opportunity to rebuild yay alongside the pacman upgrade.

[2021-06-01 06:27] #1519 closed, assigned to nobody

[2021-06-01 06:29] hazelshantz commented on #1519
yay also gets removed on endeavourOS when updating and installing pacman v6.0 . seems like reinstalling it via another aur helper/manually solves this issue.

[2021-06-01 06:58] IBArbitrary commented on #1519
There was an update for yay, when the update for pacman was released. I first updated pacman instead, and got this issue. I wonder if I had first updated yay it would've been smooth.

[2021-06-01 07:37] picobyte commented on #1519
There are some overzealous clashing defaults preventing building yay, build() stops with:
[code]
This shouldn't be a warning or be turned into an error. I cannot find any of these flags set in the package files.

Edit: removing -fstack-clash-protection (temporarily?) from CFLAGS in /etc/makepkg.conf resolved this

[2021-06-01 08:09] Morganamilo commented on #1519
That may be due to changes to the default makepkg.conf

[2021-06-01 11:44] x1b6e6 commented on #1518
Looks like you have old alpha version of pacman 6.

Can you update pacman with `yay -S pacman-git` and then update yay?

Be careful: after updating pacman-git, yay will be breaked and you should rebuild it.

Maybe `yay -S pacman-git yay` are fix this problem.

[2021-06-01 14:41] ThatOneCalculator commented on #1518
I'm not running the old alpha build, I got `pacman` from the testing repos

[2021-06-01 14:51] Axeltherabbit opened #1520 "yay-bin and pacman are in conflict"
### Affected Version
latest `yay-bin 10.2.2-2`

### Describe the bug

there is a package conflict with libalpm.so after the update to pacman 6

### Reproduction Steps
I just can't use yay because it is looking for the old libalpm.so package, I have libalpm.so.13

### Output
https://pastebin.com/fBsqaXvS

[2021-06-01 14:53] KevinRouchut commented on #1520
Same problem here.

[2021-06-01 15:33] dominickleppich commented on #1520
I can confirm this as well.

**EDIT:** This was easily solved by reinstalling:
[code]

[2021-06-01 15:57] matthewarmand commented on #1520
`yay` itself just needs a recompile locally, see [this AUR comment](https://aur.archlinux.org/packages/yay#pinned-808720).

`yay-bin` will need a recompile and therefore a new release, see [this AUR comment](https://aur.archlinux.org/packages/yay-bin#pinned-808723):

I am curious as to the timeline of a new `yay-bin` release with this support if the maintainers have an idea of that

[2021-06-01 16:08] camdenorrb commented on #1520
Unfortuantly doesn't seem that simple for me at least

[code]

[2021-06-01 17:32] shuwens commented on #1520
That indeed solved my problem, this is kind of strange :(

[2021-06-01 17:46] jasek5 commented on #1087
For me it actually worked :D

[2021-06-01 19:07] Jguer commented on #1518
@ThatOneCalculator I fear you may have gotten stuck in between versions of pacman, can you tell me if reinstalling pacman from core and clean rebuilding yay works?

[2021-06-01 19:07] Jguer commented on #1518
closing in favor of #1519

[2021-06-01 19:07] #1518 closed, assigned to nobody

[2021-06-01 19:20] ThatOneCalculator commented on #1518
It doesn't

[2021-06-01 19:38] lucki1000 commented on #1411
After upgrading pacman to version 6, If got this errror while using yay:
[code]
but since i've updated pacman i only have ```libalpm.so.13```

[2021-06-01 19:50] kageurufu commented on #1411
Rebuild yay after upgrading pacman.

[2021-06-01 20:07] lucki1000 commented on #1411
Worked, thanks

[2021-06-01 21:19] Jguer commented on #1411
Closed in favor of #1519

[2021-06-01 21:19] #1411 closed, assigned to nobody

[2021-06-01 21:21] Jguer commented on #1495
This usually happens with network issues (or goproxy issues), glad to know it's working again

[2021-06-01 21:21] #1495 closed, assigned to nobody

[2021-06-01 21:39] Jguer commented on #1520
- Waiting on archlinux arm to update to pacman 6 on the `arm` and `armv6h` archs (https://archlinuxarm.org/packages)

- Looking into a solution for https://github.com/Jguer/yay/runs/2722739268 . GitHub Runners are running out of memory when cross compiling yay's builder image

[2021-06-01 21:46] benjarobin commented on #1510
Are you sure that you run both commands (yay and pacman) from the same shell?
Doing the following operations is not working (under zsh, but works under bash):
[code]
But the following operations are working (under zsh, and under bash):
[code]
Or do something like this (if you really have to use `PACKAGE_LIST="pacman gcc"`)
[code]
***Also*** I cannot reproduce the following Yay output : `only one o

[2021-06-01 22:14] benjarobin commented on #1494
yay does not need any modification. Tested using:
[code]
You just have to make the configuration permanent using the following command: `yay --sudoflags "-A" --save`

[2021-06-01 23:34] nicktindall commented on #1087
This started happening for me out of the blue yesterday, when I tried to follow the instructions [here](https://github.com/Jguer/yay/issues/1087#issuecomment-545585765) I got
[code]

[2021-06-01 23:39] marcosrdac commented on #1510
I am using dash, and the error happens in this shell. The same thing happens in bash on my PC. It doesn't in zsh though.

Your tip on using echo did not work here, giving me the same `only one operation may be used at a time`, but a similar approuch did the job, by getting arguments from stdin (needs a "-" at the end of the yay command):

[code]

[2021-06-01 23:47] marcosrdac commented on #1510
Oh... My mistake, guys. I actually put a "pacman -Syu" string into the package list. So the full command was expanded like:

[code]

and then, indeed, two operations were being asked to be used at an only command.

Thank you for your time, @benjarobin.

[2021-06-01 23:47] #1510 closed, assigned to nobody

[2021-06-02 01:22] RafaelAmauri commented on #1087
It also started happening to me and the fix was to just run ```pacman -Rns yay``` and uninstall it.

Then I cloned the yay git repo and installed the package build. All's working now

[2021-06-02 01:34] nicktindall commented on #1087
Interestingly manually installing yay works, but yay-bin says it conflicts with pacman

I think it's covered here https://aur.archlinux.org/packages/yay-bin/#pinned-808723

[2021-06-02 02:21] x1b6e6 commented on #1518
@ThatOneCalculator can you show output of `pacman -Qi pacman`?

[2021-06-02 02:54] ThatOneCalculator commented on #1518
[code]

[2021-06-02 03:23] bittin commented on #1520
Got the same problem now on ALARM (Arch Linux ARM) on a Raspberry Pi 4 now today (waiting for a fix)

[2021-06-02 04:05] ThatOneCalculator commented on #1518
@x1b6e6 ?

[2021-06-02 04:29] x1b6e6 commented on #1518
@ThatOneCalculator

clean rebuild:
[code]
or solution from [here](https://github.com/Jguer/yay/issues/1520#issuecomment-852222969):
[code]

[2021-06-02 04:55] ThatOneCalculator commented on #1518
Both failed with the exact same error as before @x1b6e6

[2021-06-02 06:04] richie-tt opened #1521 "Feature request: Pass arguments to pacman"
### Is your feature request related to a problem? Please describe.
I'm working on module for [SaltStack](https://docs.saltproject.io/en/latest/ref/modules/all/salt.modules.pkg.html#module-salt.modules.pkg) which will support YAY as another package manager for Archlinux.

I would like to pass some arguments to the [pacman](https://archlinux.org/pacman/pacman.8.html) application instead to edit the

[2021-06-02 07:39] Crandel commented on #1494
Thank you @benjarobin! It works!

[2021-06-02 07:39] #1494 closed, assigned to nobody

[2021-06-02 09:26] Magicloud commented on #1520
X64, rebuilt yay, as 10.2.2-4, it still requires libalpm.so.12.

[2021-06-02 10:41] x1b6e6 commented on #1518
@ThatOneCalculator very interesting situation.
This mean you doesn't have actual alpm headers.

What output of `grep -e 'option_[gs]et_arch' /usr/include/alpm.h`?
It should be
[code]

If not, try reinstall pacman and then rebuild yay.

if this does not solve the problem, then I can't help.

[2021-06-02 12:17] Demonstrandum commented on #1518
Hi, I had the exact same problem as @ThatOneCalculator.  Very strange, but it turned out I had a file `/usr/local/include/alpm.h` that was old, in addition to the `/usr/include/alpm.h` file, which is up-to-date.

It seems Go when doing
[code]
opted for the `/usr/local/include/alpm.h` file instead!  Removing this file fixed my problem.

---

[code]

[2021-06-02 14:24] krishicks commented on #1087
I had to run `makepkg -Cfsi` to get it to rebuild properly.

[code]

[2021-06-02 14:27] matthewarmand commented on #1520
Looks like this is done now: https://archlinuxarm.org/packages?q=pacman

Is this possibly related to this issue @Jguer? https://github.com/docker/buildx/issues/426#issuecomment-723208580

[2021-06-02 15:13] ThatOneCalculator commented on #1518
Crazy enough, this worked!
Hopefully this solution can be pinned somewhere :)

[2021-06-02 18:31] dshoreman opened #1522 "Unable to build: Permission denied error"
### Installed Versions
* libalpm **v12.0.2**
* pacman **v5.2.2**
* yay **v10.2.2**
* git **2.31.1**
* go **1.16.4**

### Summary

Some time ago I had an issue building yay, so I switched to yay-bin. Since yay-bin will need a rebuild for pacman 6, I'm trying to switch back to the source version *before* I upgrade Pacman to avoid issues after.

* **When installing yay from source, the `go build` com

[2021-06-02 21:05] dshoreman commented on #1522
Okay, running `go build` manually without any options *appears* to work (that is, it downloaded the deps and spat out a binary which works well enough to run `./yay -V`).

Trying some other make commands, I noticed anything that goes through go (such as `make clean`) gives the same error.

[2021-06-03 05:26] bittin commented on #1520
Works for me now, with the new yay version  :)

[2021-06-03 10:50] Michael-F-Bryan commented on #1519
The above instructions seem to fail because the `"six"` flag doesn't seem to exist. Has anyone else encountered this?

[code]

[2021-06-03 11:13] dshoreman commented on #1522
Fixed by updating my .zshrc to include an `export GO=/usr/bin/go` line.

@Jguer If go is already in my `$PATH`, shouldn't it work *without* being explicitly defined? Not too fussed, as it now works, but I'm curious if it's a bug or simply my system... feel free to close

[2021-06-03 20:03] YannMagnin opened #1523 "Unable to build: `-Werror` flags block the building of some dependencies"
### Affected Version
__os__: ArchLinux version 5.12.8-arch1-1 #1 SMP PREEMPT Fri, 28 May 2021 15:10:20 +0000 x86_64 GNU/Linux (`uname -a`)
__go__: 1.16.4 linux/amd64 (`go version`)
__gcc__: 11.1.0 (`gcc --version`)
__pacman__: v6.0.0 - libalpm v13.0.0 (`pacman --version`)

### Describe the bug
After an update of `pacman`, `yay` has started to throw me this error: `yay: error while loading shared l

[2021-06-03 20:49] Porkepix opened #1524 "A failsafe should exist to not uninstall pacman"
### Affected Version
yay 10.2.2

### Describe the bug

### Reproduction Steps
In a tentative to update yay without breaking pacman dependency, and therefore having to uninstall yay first to update pacman and then reinstall yay, I tried to only update yay at first from the AUR yay-bin.

The result as presented by yay was the following:

[code]

I obviously didn't continued, but I'm afraid doing so

[2021-06-03 21:01] Morganamilo commented on #1524
HoldPkg is that failsafe.

[2021-06-03 22:05] OneOfOne opened #1525 "go: parsing $GOFLAGS: non-flag "six""
Trying to build from `yay-git` and getting:

[code]

This line in `Makefile` is not working right?

[code]

[code]

[2021-06-04 00:15] hazelshantz commented on #1519
i had to install yay-git in order to use it again. the yay that is on the official repos still conflicts with pacman

[2021-06-04 07:06] GuptaAnant opened #1526 "Rate Limit Reached"
### Affected Version

### Describe the bug

### Reproduction Steps
1.
2.
3.

### Expected behavior

### Output

[2021-06-04 12:47] simonkrogmann opened #1527 "Build with makepkg fails with LTO"
### Affected Version

yay-git-10.2.3.r0.g6e70e2a-1
go1.16.4 linux/amd64

### Describe the bug

When having LTO enabled in `/etc/makepkg.conf`, the build fails.

### Reproduction Steps
1. In `/etc/makepkg.conf` enable lto, e.g.:
`OPTIONS=(strip docs !libtool !staticlibs emptydirs zipman purge !debug lto)`
2. `yay -Sy yay-git`

### Expected behavior
The Build should succeed.

### Output

[code]

[2021-06-04 15:12] Optiligence commented on #1512
`makepkg -i`?

[2021-06-04 15:45] Spixmaster commented on #1512
@Optiligence That is possible of course but the problem with that is that AUR dependencies cannot be resolved.

[2021-06-04 15:47] Optiligence commented on #1512
ahh, fair enough

[2021-06-04 16:40] Jguer commented on #1522
That's a weird behavior, I've never seen this happen.

yay's makefile includes a

[code]

but it should normally resolve to `/usr/bin/go` after

[2021-06-04 16:43] Jguer commented on #1522
@dshoreman I see your dotfiles include a `export GOBIN="$HOME/.local/bin/go"` , I'd check if it conflicts with `makepkg` when it enters fakeroot

[2021-06-04 18:16] matthewarmand commented on #1520
With the new `yay-bin 10.2.3-2` released earlier today, my system's back to all good. Obviously running a full system update caused `yay-bin` to be temporarily removed because the old version conflicted with `pacman 6.0.0-2`, but following the [instructions on the AUR](https://aur.archlinux.org/packages/yay-bin#pinned-808723) after that update I was able to install the new version of `yay-bin` and

[2021-06-04 19:38] Neurognostic commented on #1202
not stale

[2021-06-04 20:52] Jguer commented on #1520
Closing, `yay-bin` seems to be stable across all platforms, thanks for your patience everyone

[2021-06-04 20:52] #1520 closed, assigned to nobody

[2021-06-04 20:57] Jguer commented on #1526
Not enough information

[2021-06-04 20:57] #1526 closed, assigned to nobody

[2021-06-04 23:28] cyruzin commented on #1519
Thanks, that fixed the issue :)

[2021-06-05 08:46] Jguer commented on #1525
@OneOfOne can you clone the repository and try executing `go build -tags six -ldflags '-X "main.yayVersion=10.2.3.r0.g6e70e2a" -X "main.localePath=/usr/share/locale/" -linkmode=external' -buildmode=pie -o yay`?

do you have a custom GOPATH or any other GO env variable set?

[2021-06-05 08:48] Jguer commented on #1523
@Paquity have you checked if there's no `-Werror` in your environment's CFLAGS (`echo $CFLAGS`) or in your `/etc/makepkg.conf` CFLAGS (apart from `-Werror=format-security`)

[2021-06-05 08:55] YannMagnin commented on #1523
`echo $CFLAGS` give me nothing and I don't have any extra `-Werror` in `/etc/makepkg.conf` :/

[2021-06-05 13:10] Dragas commented on #515
This is a terrible design decision. I'm trying to figure out what cli parameters I can pass, and now I'm performing a full system upgrade.

[2021-06-05 14:52] Deshdeepak1 commented on #1507
Yeah, I was trying to build a local aur repo too using --aururl. Would implementing RPC is impossible?

[2021-06-05 16:33] saurabhs commented on #1523
getting the same error after upgrading pacman to 6.0

os: Linux arch 5.12.9-arch1-1 #1 SMP PREEMPT Thu, 03 Jun 2021 11:36:13 +0000 x86_64 GNU/Linux (uname -a)
go: 1.15.4 linux/amd64 (go version)
gcc: 11.1.0 (gcc --version)
pacman: v6.0.0 - libalpm v13.0.0 (pacman --version)

[2021-06-05 18:46] OneOfOne commented on #1525
Apparently I did, fixed it locally.

Thanks for your work on yay.

[2021-06-05 22:40] ssergiienko commented on #477
Solved the problem with a trivial `makepkg` wrapper and without any dir permission manipulations.

Just drop it somewhere and setup with `yay --makepkg './path-to_wrapper' --save`.
I'd also recommend to use it with `yay --cleanafter --save` to keep free space.

Hope it will help someone https://gist.github.com/ssergiienko/8bb9ee056cfdceb0183cc001ebb5b252

[2021-06-07 15:49] mythmon commented on #1527
I'm also having this problem when building through yay. Unlike in other issues here, I don't have `-flto` specified in `/etc/makepkg.conf`.

My build output looks very similar to @simonkrogmann's

[code]

[2021-06-07 20:37] saurabhs commented on #1523
yay seemed to working for me after I installed another AUR helper (paru) and ran paru -Syu

[2021-06-08 09:38] microo8 commented on #1519
how to do it non-temporarily?

[2021-06-08 14:35] karatedog commented on #983
Option #2 favored, although it wouldn't save me from getting tons of useless pages if it displayed the exact match in the first line. I searched for `fx`.
Full text search engines like Lucene have long found out how to do proper ordering/ranking in relation of what the user entered and what order the "search" returned hits. Maybe get some ideas from them, obviously the basics would suffice.

Or al

[2021-06-08 17:27] Maryse47 commented on #1525
@Jguer I can reproduce the issue when I set `GOFLAGS="-buildmode=pie -trimpath -ldflags=-linkmode=external -mod=readonly -modcacherw"` in makepkg.conf (this line was taken from [wiki recommendations](https://wiki.archlinux.org/title/Go_package_guidelines#Flags_and_build_options) for go packages.

I see you use similar flags already although I wonder if it's possible to make it work with global `GO

[2021-06-08 17:31] OneOfOne commented on #1525
It's the `GOFLAGS +=` that breaks it, without that it works fine, that might be a Makefile bug or something.

[2021-06-08 19:29] Fabian42 commented on #983
`yay` seems to already do _something_ with regex-like searches:

[code]

No matter how I look at it, I would have expected at least `notepadqq-git`, `notepadqq-legacy` and `notepadqq-ote-git` to appear in the first search, since it includes `notepadqq`. And the inclusion of `leafpad`, which only mentions "notepad" in its description, but exclusion of `gamma-text-editor`, which has "Notepad" in its

[2021-06-09 04:42] OneOfOne commented on #1525
Update, copy pasting the failing command and running it in the src folder runs fine.

[2021-06-09 05:11] renatocoutinho opened #1529 "--news option may skip same-day news released after upgrade"
### Affected Version
yay v10.2.3 - libalpm v13.0.0

### Describe the bug
When using yay -Pw, news are considered new only if they are more recent than last build of native packages, but if news are released on the same day **after** the build, they are skipped and not seen by the user before the next upgrade.

This may be rare but did happen to me, and for me the whole point of yay -Pw is to not g

[2021-06-09 11:34] seiuneko commented on #842
The same to me.

[2021-06-09 21:20] RedAnon opened #1530 "Add a switch to easily update -git packages during normal pacman update."
### Is your feature request related to a problem? Please describe.

Manually updating -git AUR packages and keeping track of them is tedious.
### Describe the solution you'd like

It would be nice to have a feature that updates -git packages during normal update. For example having a switch that can be add into my usual "yay -Syyu" and turns it into "yay-Syyug" the -g signifying that all -git pack

[2021-06-09 21:42] grandchild commented on #1530
Did you mean `--devel`?

From `man yay`:
[code]

[2021-06-11 03:28] protist opened #1531 "Changing default answer"
### Is your feature request related to a problem? Please describe.
When installing a package, if the config has `"removemake": "ask"`, then the default answer is "N".

[code]

Is there a way to make the default answer "Y"? I know that we can automatically pick yes by making the config `"removemake": "yes"`, but this suppresses the question.

### Describe the solution you'd like
My understanding is

[2021-06-11 10:20] kescherCode commented on #880
Still replicates on the latest yay version.
On that note, stale bots are bad.

[2021-06-12 02:53] Steve-Dusty opened #1532 "sudo yay -Syu broke my system"
### Affected Version
Using the newest yay version

### Describe the bug
I errored ```
(cheese:274648): Clutter-CRITICAL **: 19:07:01.263: Unable to initialize Clutter: Unable to initialize the Clutter backend: no available drivers found.

** (cheese:274648): ERROR **: 19:07:01.263: cheese-application.vala:89: Unable to initialize libcheese-gtk

zsh: trace trap (core dumped) cheese```  after runnin

[2021-06-13 11:32] bet4it commented on #695
`aurman` with this [patch](https://github.com/polygamma/aurman/pull/262.patch)

[2021-06-16 13:07] EmeraldSnorlax commented on #915
Sorry for the necro; now that pacman 6.0 has released and pacman supports parallel downloads, ensuring that your connection is saturated at all times (particularly useful for many small packages), now seems like a better time than ever for having parallel downloads and building in yay.

I have a particularly slow internet connection; while building a package that takes a while, it'd save *so much

[2021-06-18 14:26] mu-hi commented on #1248
I'm having the same error trying to install standardnotes-desktop from AUR.
using yay v10.2.3

[2021-06-18 14:46] Morganamilo commented on #1248
There's no error. It's a warning.

[2021-06-18 15:03] mu-hi commented on #1248
Tried to delete cache files but still the same warning occurred.

[2021-06-18 15:04] Morganamilo commented on #1248
The warning will never go away. It's just a description of what makepkg is doing.

[2021-06-18 15:10] mu-hi commented on #1248
So it isn't yay related. I should inspect the program's PKGBUILD file it seems.

[2021-06-18 15:13] Morganamilo commented on #1248
No, as mentioned above it's a warning makepkg spits out when invoked with -e.

[2021-06-18 15:39] mu-hi commented on #1248
I don't understand what should I do, makepkg -s giving the same results too.

[2021-06-18 15:42] Morganamilo commented on #1248
There is nothing to do. It is just makepkg saying what it is doing.

[2021-06-19 16:33] andersfylling commented on #123
Not sure if this is an issue for other people, but while I have color enabled in pacman.conf, my output is still just mostly gray.
![image](https://user-images.githubusercontent.com/7851860/122649151-d65b3580-d12c-11eb-875a-830f5b383ce7.png)

[2021-06-20 20:47] ikouchiha47 commented on #1527
Having similar issue.

[code]

[2021-06-21 09:05] Jguer commented on #123
@andersfylling try `yay -Syu --combinedupgrade --save`

[2021-06-21 21:04] Berkmann18 commented on #1087
Doing @JoveYu's approach with @krishicks suggestion fixed it for me.
Thank you both!

[2021-06-22 02:18] Alessandar commented on #1405
I got a lot of "signal: killed" and "exit status 128" after updating with the --devel switch on. I found that it related to the kde plasma -git packages I installed. Some of those PKGBUILD's had either outdated sources that led to redirects or error pages. It initially built the packages but their git repos were not recorded in the vcs.json or they were written there with bad repo links.

these pa

[2021-06-22 08:09] rien333 commented on #1405
I think earlier in the thread we had already established that it was a yay issue. (or, more specifically, related to the way yay and git work together)

If it was an issue with certain PKGBUILDs, then running e.g. `yay -S ark-git` should also produce `exit status 128` errors, but I've never seen that error outside of using `--devel`.

[2021-06-24 08:37] andersfylling commented on #123
![image](https://user-images.githubusercontent.com/7851860/123231082-285add00-d4d8-11eb-8269-d22c2160fcb6.png)
It added a extra/new section that had colours, the rest is the same ^^,

[2021-06-24 11:09] rightaway commented on #1436
?

[2021-06-28 18:30] ido opened #1538 "yay not passing through SSH key passphrase entry(/pinentry) prompt?"
### Affected Version
`yay v10.2.3 - libalpm v13.0.0`

### Describe the bug
When using `yay` to update AUR packages (e.g. `yay -Syua`), if a passphrase is needed for my ssh key to access AUR (which is a separate IdentityFile configured in my `.ssh/config`), then `yay` does not pass through the passphrase prompt and instead seems to hang.  I *think* that's what's going on, given that `yay -> git ->

[2021-06-28 18:33] Morganamilo commented on #1538
Does this happen with --nodevel?

[2021-06-28 19:06] ido commented on #1538
Problem persists with `--nodevel`.  (To be clear, once I `ssh-add` my AUR ssh key to my ssh-agent, everything works fine.)

As a side note, `yay` also seems to barf if the SSH connection is reset/interrupted, and does not retry the git clone.  (That's harder to reproduce, though.)

[2021-06-29 06:15] ido commented on #1417
FYI, this is happening to me now consistently and seems to be AUR SSH connection rate limiting.  A possible fix for this is to use a [ControlMaster] for connection multiplexing.

[ControlMaster]: https://en.wikibooks.org/wiki/OpenSSH/Cookbook/Multiplexing

[2021-06-29 09:31] YourPsychiatrist commented on #1137
Any updates here? :) Would really need this

[2021-06-29 14:28] JohanChane commented on #1150
@IslandC0der Sorry, I forgot that i have installed Goldendict. And '-Q' and '-F' are different.

[2021-06-29 20:54] PQCraft commented on #1194
Has anyone tried uninstalling sudo then running
[code]

[2021-06-29 20:57] #917 closed

[2021-06-29 21:03] freed00m commented on #1194
@PQCraft there is already a AUR package https://aur.archlinux.org/packages/opendoas-sudo/ and yes I am running it just fine.

For yay I wrap and filter some flags that doas can't do https://git.sr.ht/~freed00m/dotfiles/tree/master/item/.local/bin/yay-doas-wrapper not sure if that really needs to be done anymore.

[2021-07-01 00:31] AchmadFathoni commented on #1532
[code]
I think it is a driver problem and not yay's fault. You should file bug to the cheese upstream developer instead.

[2021-07-01 00:48] AchmadFathoni opened #1539 "--nocleanafter still delete src folder"
### Affected Version
`yay v10.2.3.r9.gd6cb4c5 - libalpm v13.0.0`

### Describe the bug
After successfully build AUR packages using `--nocleanafter`, the `src` folder is still being deleted.

### Reproduction Steps
1. `yay -Syu --nocleanafter --devel`

### Expected behavior
`--nocleanfter` disables package sources cleaning after successful build which mean `src` folder is note deleted.

[2021-07-01 00:50] Morganamilo commented on #1539
--cleanafter is about deleting the clone dir afterwards. `-c` is always passed to makepkg.

[2021-07-01 00:53] AchmadFathoni commented on #1539
Well, @Morganamilo Do you know any AUR helper that doesn't pass `-c`? I have pretty big AUR package which have frequent update and I am avoiding to clean build it every time.

[2021-07-01 00:55] #1539 closed, assigned to nobody

[2021-07-01 00:56] Morganamilo commented on #1539
Some probably don't no one has asked for it with yay before :P

[2021-07-01 01:02] AchmadFathoni commented on #1539
What is clone dir?

Nah, some people asked that, just ignored. #798, #1039

[2021-07-01 01:06] Morganamilo commented on #1539
When you `git clone htts://aur.archlinux.org/foo`

Also blame the sale bot for that.

[2021-07-01 01:11] AchmadFathoni commented on #1539
`--cleanafter` never affect `~/.cache/yay/foo`

Did stale bot gain consciousness and install itself?

[2021-07-01 01:16] Morganamilo commented on #1539
Well it should. It actually runs `git clean` in the dir. Not deletes it.

No but I also didn't install it and I'm not involved enough any more to bother arguing against it. I just answer issues some times.

[2021-07-01 22:48] RubenKelevra commented on #1405
I think yay just fails to find the data for a devel package, but it should print an appropriate warning instead of this cryptic message that it received a non-zero return code from git.

[2021-07-02 05:14] boris-stepanov opened #1540 "Auto remove unneeded packages"
Hey!

Other PMs like apt have a very convenient way to treat orphan libraries: mark them as auto installed and call autoremove. In Pacman and Yay we are forced to imitate autoremove with ugly constructions like `pacman -Qtdq | pacman -Rns -`. Sometimes you cannot tell if some specific package can be safely removed, so `pacman -Rscn <some lib>` is not a safe solution.

It would be nice, if you add

[2021-07-02 05:16] Morganamilo commented on #1540
You mean `yay -c`?

[2021-07-02 07:44] zhmars opened #1541 "Unable to download PKGBUILD from ABS"
### Affected Version

`yay v10.2.3 - libalpm v13.0.0`

### Describe the bug

Yay fail to download PKGBUILD from ABS due to `git.archlinux.org` retired.

Ref: https://lists.archlinux.org/pipermail/arch-devops/2021-July/000527.html

### Reproduction Steps
1. `yay -G wget`

### Expected behavior

 Downloads PKGBUILD from ABS

### Output

[code]

[2021-07-02 11:46] boris-stepanov commented on #1540
Uh, didn't check -Y flag. Yeah, that's it, thank you!

[2021-07-02 11:46] #1540 closed, assigned to nobody

[2021-07-02 12:56] edacval commented on #1541
https://lists.archlinux.org/pipermail/arch-dev-public/2021-June/030466.html

[2021-07-02 14:21] xjwellsx opened #1542 "Certificate Signed by Unknown Authority"
### Affected Version

10.2.3.r9.gd6cb4c5-1
### Describe the bug

When running makepkg -si an error is thrown stating that the certificate is signed by an unknown authority.
### Reproduction Steps
1.  git clone https://aur.archlinux.org/yay-git.git
2. cd yay-git
3. makepkg -si
4. error

### Expected behavior

The package to be built and installed.
### Output

 makepkg -si

==> Making package: yay 1

[2021-07-03 15:10] Jguer commented on #1405
#1543 should help diagnose the misbehaving package

![image](https://user-images.githubusercontent.com/8071073/124358649-877bc880-dc21-11eb-9337-da78e5f869f3.png)

[2021-07-03 15:10] #1405 closed, assigned to Jguer

[2021-07-03 17:45] qiolol commented on #1087
Same!
[code]
did the trick. :heart:

[2021-07-04 08:01] pranaypratyush opened #1545 "yay 10.2.3.r12.g61e38ad-1 doesnt build"
### Affected Version

`yay 10.2.3.r12.g61e38ad-1` is the one I am trying to build.
`yay v10.2.3.r9.gd6cb4c5 - libalpm v12.0.2` is the installed version.
### Describe the bug

`yay 10.2.3.r12.g61e38ad-1` doesnt build with yay

### Reproduction Steps
1. `yay -S yay-git`
on `Linux 5.12.9-1-MANJARO #1 SMP PREEMPT x86_64`, AMD 2700x CPU

### Expected behavior

Should build successfully.

### Output

[c

[2021-07-06 18:39] jclsn commented on #1137
I read somehwere that yay is abandoned and you should use paru instead, which is a maintained fork

[2021-07-06 19:40] irgendwr commented on #1137
\**checks commits\**  Last commit three days ago... yep looks totally abandoned :p
Also, paru is not a fork of yay. But this is all off-topic anyway.
*(Edit: I think you are referring to [this](https://www.reddit.com/r/archlinux/comments/jjn1c1/paru_v100_and_stepping_away_from_yay/))*

Back on topic: maybe I'll give this a try if I find the time for it.

[2021-07-06 19:42] jclsn commented on #1137
Paru did the trick for me though. Have not used it until now and the name is also not as catchy as yay, but well it worked.

[2021-07-08 21:11] lievin-christopher commented on #694
Yes, exactly the same feature I requested

[2021-07-09 08:01] omgold commented on #1541
The location of the sources repo has changed. They can now be found at:

https://github.com/archlinux/svntogit-packages.git
https://github.com/archlinux/svntogit-community.git

[2021-07-09 15:55] #384 closed

[2021-07-10 13:58] s3rgeym opened #1547 "yay conflicts with pyenv/asdf"
Asdf is version manager that uses pyenv - python version manager:

[code]

[2021-07-10 16:25] Avinash-Bhat opened #1548 "AUR: Skip failed package during bulk upgrade"
### Problem
When upgrading the AUR packages (yay -Syu --aur), the whole operation fails when some configuration error is there with upgrading a single package.

for example, during a recent upgrade, the git repo for brave-bin caused failure like below:
[code]
The cause for this was due to some changes done for diverging, which shouldn't affect the AUR upgrade, and treat it as an ignored package.

[2021-07-11 18:02] mmdbalkhi opened #1550 "problem In installation."
### Affected Version

I had a problem with the installation.

### Describe the bug
The program did not build and encountered the following error:

[code]

### Reproduction Steps
1.
2.
3.

### Expected behavior
Install The yay!

### Output

[code]

![Screenshot_20210711_223122](https://user-images.githubusercontent.com/65954744/125205508-d2d44d80-e297-11eb-95de-d7d25567b882.png)

[2021-07-12 11:54] tim-tx opened #1551 "Hide certain entries from "Missing AUR Packages" list"
### Is your feature request related to a problem? Please describe.

No

### Describe the solution you'd like

Allow a list in the config that hides entries from the "Missing AUR Packages" list. For example, if we have `Missing AUR Packages:  pkg1 pkg2`, and in `config.json` I then add something like `hide_missing: "pkg1,pkg3"`, we would afterward see `Missing AUR Packages:  pkg2`

### Describe alt

[2021-07-12 13:03] s3rgeym commented on #1550
use yay-bin package

[2021-07-13 06:47] kescherCode commented on #1532
Beyond that, yay does give you a funny little warning when you do this...
[code]

[2021-07-13 11:48] justin8 opened #1552 "--needed option is only adhered to by pacman, not yay"
### Affected Version
`yay v10.2.3 - libalpm v13.0.0`

### Describe the bug
When using the `--needed` flag pacman will only install the listed packages if a newer version is available. Yay honours this for the repository packages, but for AUR packages it will download, build the package and then try to install it with `pacman --needed` resulting in a no-op, but only after building every chosen AUR

[2021-07-13 12:24] Morganamilo commented on #1552
I think the bigger bug here is that yay appears to give no output whatsoever.

Please follow the template.

[2021-07-13 18:54] Jguer commented on #1545
go-almp v2.0.6 removes support for pacman 5. Upgrading to pacman 6 and then reinstalling yay should work

[2021-07-13 18:54] #1545 closed, assigned to nobody

[2021-07-14 02:07] justin8 commented on #1552
Thanks. The snarky response is appreciated. I've added the output, did that help clear things up for you?

[2021-07-14 02:43] SamLukeYes opened #1553 "[Localization] Chinese characters make the colons out of order"
### Affected Version
yay v10.3.0.r0.g4a93199 - libalpm v13.0.0

### Describe the bug
When using `yay -Si` to display the infomation of a package from AUR in Chinese, the colons are out of order. Each Chinese character is twice as wide as a common English letter, making the colon moving 1 space rightwards.

### Reproduction Steps
Run `yay -Sia yay` with zh_CN locale setting.

### Expected behavior

[2021-07-14 04:15] zhmars commented on #1541
The error has been fixed in v10.3.0. Thanks!

I just found the message `Querying AUR...` seems wrong here since the package was downloaded from ABS. Am I supposed to create a new issue for that?

[2021-07-14 05:02] zhmars commented on #1553
Duplicate of #1332 (part of fixes) #1416 (stale)

Not sure it is helpful, pacman fixed this by [commit#4533c6a](https://gitlab.archlinux.org/pacman/pacman/-/commit/4533c6a8e0f39c7707e671b7f9687607b46f1417), see [FS#59229](https://bugs.archlinux.org/task/59229) for more detail.

[2021-07-14 08:28] mmdbalkhi commented on #1550
THANKS 👍

[2021-07-14 08:28] #1550 closed, assigned to nobody

[2021-07-14 19:13] k0ste commented on #1541
Still not works

[code]

[2021-07-16 00:48] yochananmarqos commented on #1541
Oh really? 🤔

[code]

[2021-07-16 03:45] zhmars commented on #1541
I'm not sure why you still get the error. But it works for me at least.

[code]

[2021-07-16 11:40] jazz-it opened #1554 "Can't update python2-lxml"
### Affected Version
yay v10.3.0 - libalpm v13.0.0

### Describe the bug
Whilst trying to update the `python2-lxml` to the recent `v4.6.3-2`, yay throws an error and fails to complete the operation. It seems like versioning discrepancy. Output is here: https://hastebin.com/rinuwiyere.sql

### Expected behavior
I successfully updated the package with `sudo pamac upgrade`, therefore `yay` should han

[2021-07-16 14:11] yochananmarqos commented on #1541
It works for me from the AUR, but not some ABS packages. `chromium` fails while `firefox` works.

[code]

[code]

[code]

[code]

[2021-07-16 14:13] Morganamilo commented on #1554
Looks like the package is trying to build against python 3 for some reason. don't see how yay could cause that.

[2021-07-16 15:14] zhmars commented on #1541
~~If you are using `yay` package, could you try [`yay-bin`](https://aur.archlinux.org/packages/yay-bin) in AUR? I'm using it for all packages mentioned above without issues~~.

Update:
The issue seems caused by ABS cache. (`$XDG_CACHE_HOME/yay/abs`, fall back to`$HOME/.cache/yay/abs`)

@yochananmarqos, Could you clean the cache diretory and try again?

[2021-07-16 17:48] yochananmarqos commented on #1541
@zhmars Aha! Yep, removing `~/.cache/yay/abs/chromium/` resolved the issue. Thanks for the tip!

[2021-07-16 17:48] yochananmarqos commented on #1541
@zhmars Aha! Yep, removing `~/.cache/yay/abs/chromium/` resolved the issue. Thanks for the tip!

[2021-07-16 17:56] k0ste commented on #1541
@zhmars yes, this helps!
`yay` have a option to clean cache?

[2021-07-17 13:25] grandchild commented on #1541
yes. the same as pacman: `yay -Sc`

[2021-07-17 16:04] erfoon opened #1555 "Yay cannot connect to git"
### Affected Version
yay v10.3.0 - libalpm v13.0.0

### Describe the bug
After a system update of about a month ago I could no longer update my AUR packages using yay.
Here is what I get in console for any upgrade or install (this for google-chrome for example):

```error merging google-chrome: fatal: No remote for the current branch.```

### Expected behavior
It should install or upgrade the AUR

[2021-07-18 16:28] ananthu-sk opened #1556 "Discrepancy of output"
### Affected Version
[code]

### Describe the bug
![Screenshot_from_2021-07-18_21:41:47](https://user-images.githubusercontent.com/25929911/126074621-267d9653-2fed-466e-987e-fc08f17fca00.png)

2 issues are there-

- I had installed custom packages using makepkg and pkgbuild without helpers.
Eg - `linux-zen-custom, linux-zen-custom-headers, picom-custom`
But yay is only detecting `picom-custom` as

[2021-07-20 01:46] ciwarren commented on #515
@Dragas I am dying at that comment, did the same exact thing lol.

[2021-07-20 09:57] grandchild commented on #515
@Dragas, @ciwarren: Whenever I don't know what options a command may have, I surely don't just plain _run_ it as a first step! My first steps for unfamiliar commands are: `<cmd> --help`, `<cmd> -h` and `man <cmd>`. _All_ of which work perfectly with yay. (If all of these fail, then _may_ try running it...)

Conversely, the _overwhelmingly_ more frequent operation is to do system upgrades, so it's

[2021-07-20 11:36] Dragas commented on #515
Destructive operation that runs when you forget to add *any* parameters is good design decision because it's convenient? Are you out of your mind?

[2021-07-20 21:18] grandchild commented on #515
How is it destructive? It asks you if you want to proceed. It does nothing desctructive upfront (unless you consider updating the package list destructive -- I don't). You have to give `--noconfirm` for it to actually do something without asking. I think it's a convenient default action, yes.

[2021-07-21 01:14] s3rgeym commented on #1547
Workaround:

[code]

[2021-07-23 01:02] #1547 closed, assigned to nobody

[2021-07-24 07:53] DocMAX commented on #1126
I want skip on errors option too

[2021-07-24 18:32] Jguer commented on #1555
Unable to reproduce.

Potential leads:
- `.gitconfig` issues
- corrupt yay cache

Potential workarounds:
- remove .gitconfig and retry
- remove `~/.cache/yay` and retry

[2021-07-25 09:43] Jguer commented on #1498
@grazzolini this should implemented as of the latest release. Please warn me if anything's wrong or could be done to ease triaging

[2021-07-25 09:43] #1498 closed, assigned to Jguer

[2021-07-25 09:53] #1355 closed, assigned to Jguer

[2021-07-25 20:08] grazzolini commented on #1498
@Jguer thanks for implementing this. I already see on the logs the custom yay user agent.

[2021-07-27 15:04] Flurrywinde commented on #713
I also wanted this. So far, using `expect` has been working:
[code]
Just call this bash function in place of `yay -Syu` and it will skip past only the "Proceed with installation" prompt.

Edit: You need to have `expect` installed. (`yay expect`)

[2021-07-27 16:13] mrskug commented on #1548
See #1126

[2021-07-29 12:21] slavaGanzin opened #1560 "--overwrite is not passed to pacman without -S argument"
Hi. Thanks for yay! It's the best package manager!

### Affected Version
yayv10.3.0.r0.g4a93199-libalpmv13.0.0

### Describe the bug
`--overwrite` option is passed to `pacman` only for `yay -S package` and not just `yay package`.

### Reproduction Steps
A bit messy, but reproducible:

1. `sudo /usr/bin/pip install --upgrade --ignore-installed  tzlocal`
2. `yay archivebox --overwrite '*'`
Will fail

[2021-07-29 17:37] bandogora opened #1561 "Go fails to build when installing"
### Affected Version
10.3.0

### Describe the bug

Go is failing to build the latest version of yay. Go could not determine kind of name for several C.alpm_options.

### Reproduction Steps
1. `sudo pacman -Rns go`
2. `pacman -S --needed git base-devel`
3. `git clone https://aur.archlinux.org/yay.git`
4. `cd yay/`
5. `makepkg -si`

### Expected behavior

Successful build and install of yay package.

[2021-07-29 17:40] Morganamilo commented on #1561
You're using an old version of pacman.

[2021-07-29 18:55] bandogora commented on #1561
Yup, forgot to update my mirrorlist.

[2021-07-29 18:55] #1561 closed, assigned to nobody

[2021-07-29 19:36] SwooshyCueb commented on #1479
This still seems to be an issue. Go away stalebot

[2021-07-30 02:49] GameKyuubi commented on #1469
How would you feel about a list of upgraded/failed packages at the end, and then separate error logs for each package, written to files linked at the ending summary?  That way you don't have to scroll around to find them and you have a clear list of what isn't building without it interfering with what does build, as well as an easy-access copy of the error logs that you can peruse on your own time

[2021-07-30 06:52] rusak47 commented on #1469
As for me, it sounds good enough.

[2021-08-01 18:21] AchmadFathoni commented on #1380
This is more elegant solution.

1. Run 'yay -Syu --save`
2. Open `~/.config/yay/config.json` and change pacman binary program line to powerpill or `"pacmanbin": "powerpill"`

[2021-08-03 18:50] MrQubo commented on #1513
Sorry, that's a duplicate of #1527.

[2021-08-03 18:50] #1513 closed, assigned to nobody

[2021-08-03 18:52] MrQubo commented on #1527
For now the fix is to add `options=(!lto)` to PKGBUILD until go supports lto (see https://github.com/golang/go/issues/43505).

[2021-08-07 19:31] irgendwr commented on #1137
Fixed in 7dda0fa2f84cd1e32568ec583c3dca4502f0f8df + 186c7a54fea59be667bcf5c9d98ced9e1955f433. Thanks for merging and correcting my patch @Jguer :)

For those that use this flag:
When installing from AUR you still need to manually edit PKGBUILD files to remove/skip dependencies as far as I know.

[2021-08-07 19:31] #1137 closed

[2021-08-07 22:24] #1373 closed, assigned to nobody

[2021-08-08 05:13] MrQubo commented on #934
@Jguer Is it possible to install custom made and unpublished PKGBUILDs with yay? Even if it cannot install dependencies from AUR it still usefull because of `--removemake` and `--sudoloop`.
Sorry for asking it on this closed issue, but that was my first hit in DuckDuckGo.

[2021-08-09 20:04] xeruf commented on #1375
What is the flag? Can't find it in the manual :/

[2021-08-12 10:50] realestninja opened #1570 "Accidentally removed yay - adding it again doesn't work"
### Affected Version

Pacman v5.2.2 - libalpm v12.0.2
git version 2.31.1

### Describe the bug

Just the basic install

### Reproduction Steps

[code]

### Expected behavior

It should install yay

### Output

[code]

[2021-08-12 14:43] realestninja commented on #1570
I have tried installing `gcc-go` (and therfor removing `go`) but that didn't help

[2021-08-12 15:02] realestninja commented on #1570
Its working now.

I did a full system upgrade that also upgraded pacman etc. (I first had to remove `yaourt` and `package-query` for the full upgrade to work)

[2021-08-12 15:02] #1570 closed, assigned to nobody

[2021-08-12 18:50] SwooshyCueb commented on #336
go away stalebot

[2021-08-13 08:51] blueyed commented on #1375
@xeruf what you provide in `--mflags` gets passed to `makepkg(8)`.

[2021-08-13 13:05] f-viktor commented on #848
can we not have an argument for this, instead of random bash wrappers?

[2021-08-13 13:53] octaltree opened #1571 "[Localization] yay doesn't refer to either LC_ALL or LANGUAGE"
### Affected Version
yay v10.3.1 - libalpm v13.0.0

### Describe the bug
I want to get messages such as "nothing to do" by specifying English from the environment variable since I use yay from the configuration management tool. LC_MESSAGES and LANG are referenced, but I'd like to see them fall back to LC_ALL and LANGUAGE as well, as many other aur helpers do.

https://github.com/kewlfft/ansible-au

[2021-08-13 17:50] #1457 closed, assigned to nobody

[2021-08-15 15:33] cinatic opened #1583 "yay creates directory in cwd whenever it is used"
### Affected Version
`yay v10.3.1 - libalpm v13.0.0`

### Describe the bug

hi not sure if this is even a bug but some weeks ago i had to build something in a seperate directory, i am not really sure what exactly but i think i used what has been suggested here https://github.com/Jguer/yay/issues/840 to do so

`yay -Syu --builddir=vrnavi --save`

now i am getting whereever i call yay a directory vr

[2021-08-15 15:45] cinatic commented on #1583
ok well, i just read through the cli help and the settings are saved interesting didn't expected this, so changing to something like `yay --builddir=/tmp/yay --save` helps

[2021-08-15 15:45] #1583 closed, assigned to nobody

[2021-08-15 15:46] Morganamilo commented on #1583
Well just don't pass --save if you don't want the settings to save...

[2021-08-15 16:54] IGBC opened #1584 "yay-git (AUR) doesn't build"
### Affected Version
AUR -git version (commit hash 63dda1a671e80fe860dbb79a1596749d846438fe at time of report)

### Describe the bug
Yay failed to build

### Reproduction Steps
clone yay-git from aur and run "makepkg -si"

### Expected behavior
It builds

### Output
[code]

[code]

[2021-08-19 12:28] groutr opened #1586 "Make package names bold in search output?"
### Is your feature request related to a problem? Please describe.
I frequently search for packages and the output of `yay -Ss` makes it difficult to scan quickly. The package name and description blend together and makes the listing difficult to jump from reading each description to finding the package name.

### Describe the solution you'd like
Would it be possible to bold the line with package

[2021-08-19 12:33] Morganamilo commented on #1586
We copy pacman's formatting so what they do we do.

[2021-08-19 18:24] mabt opened #1587 "Is it possible to display the yay search results on a single line?"
There is an option or a tips to display the yay search results on a single line? I mean the name of the package and the description? Thanks !

[2021-08-20 07:55] mabt commented on #1587
Meanwhile I found this tip :

[code]

[2021-08-20 16:33] Jguer commented on #1571
https://www.ibm.com/docs/en/aix/7.2?topic=variables-environment-precedence-example Implementation basis

[2021-08-20 16:33] #1571 closed, assigned to nobody

[2021-08-21 13:10] #1523 closed, assigned to nobody

[2021-08-21 13:10] Jguer commented on #1541
Fixed in the latest version

[2021-08-21 13:10] #1541 closed, assigned to nobody

[2021-08-21 13:11] Jguer commented on #1587
Closing as duplicate of #1515

[2021-08-21 13:11] #1587 closed, assigned to nobody

[2021-08-21 13:13] #1555 closed, assigned to nobody

[2021-08-21 13:13] #1554 closed, assigned to nobody

[2021-08-21 13:14] #1525 closed, assigned to nobody

[2021-08-21 13:20] Jguer commented on #1527
Added @MrQubo 's proposed fix for now, thanks

[2021-08-21 13:20] #1527 closed, assigned to nobody

[2021-08-21 13:23] Jguer commented on #1584
Updated `yay-git` with latest requirements, closing for now

[2021-08-21 13:23] #1584 closed, assigned to nobody

[2021-08-21 13:33] #856 closed

[2021-08-21 23:29] jazz-it commented on #1554
For the reference: I switched to `pamac` and it smoothly updated this package with no issues.

[2021-08-22 21:48] Jguer commented on #1532
Not really a yay issue on this

[2021-08-22 21:48] #1532 closed, assigned to nobody

[2021-08-23 09:41] ghost opened #1589 "None"
None

[2021-08-24 01:12] #1474 closed, assigned to nobody

[2021-08-24 01:50] #1589 closed, assigned to nobody

[2021-08-24 19:39] BujuArena opened #1590 "`yay -Syuua` does not downgrade AUR packages if local is newer than AUR"
### Affected Version

`yay v10.3.1 - libalpm v13.0.0`

### Describe the bug

`yay -Syuua` does not downgrade AUR packages if local is newer than AUR.

### Reproduction Steps

1. Have an AUR package installed.
2. Have the maintainer of that AUR package lower the version number.
3. Try to downgrade that package using `yay -Syuua`.

### Expected behavior

The package which has a newer version install

[2021-08-25 22:19] SafariMonkey commented on #848
This means if there's a number option (not yes/no) it loops forever telling you that's not one of the options. If you replace `yes` with `yes ''` (only newline instead of y), then it chooses the default every time there's a prompt and quits on a number option (or at least the one I ran into). In combination with the "make yay less interactive" options, this seems to work for me.

[2021-08-26 02:47] jcollum opened #1591 "FR for docs: installation instructions for Ubuntu"
I'm sure it would save people some time. Radarr (common movie catalog app) suggests using `yay` for installation. I'm all for that, but I can't find any install instructions for Ubuntu.

[2021-08-26 02:51] jcollum commented on #1591
Oh a few minutes of research says this is not possible. Sorry. Closing.

[2021-08-26 02:51] #1591 closed, assigned to nobody

[2021-08-26 13:06] Jguer commented on #1591
No problem @jcollum :slightly_smiling_face:  Maybe it's time to give Arch Linux a chance

[2021-08-26 13:08] Jguer commented on #848
I want to work on this but every time I pick it up I see a small part of the install phase that needs to be refactored to make it happen properly and be properly tested, sorry for the delay

[2021-08-26 13:17] Jguer commented on #1590
I'm not even sure this is a "normal" custom of the AUR (I see issues that could pop up from this with devel packages), but I can't find info on the wiki. For standard repository packages the behavior is known so I'm trying to find arguments against implementing this for AUR

[2021-08-26 15:54] jcollum commented on #1591
If installing things on Arch doesn't involve manipulating text files I'm
all in. I'm still amazed at how much manual labor is involved in installing
things in linux, a decade after I first looked at it.

On Thu, Aug 26, 2021 at 6:07 AM J Guerreiro ***@***.***>
wrote:

[2021-08-26 16:59] BujuArena commented on #1590
Maybe make it only work when the user explicitly requests it, like with `uu` and `a` together, and document that.  The problem is just that `yay` can't do it currently.

I don't see how this is a feature request and not a bug though, since the documentation for `uu` does not explicitly discount the AUR.

[2021-08-27 21:51] Scotty-Trees opened #1593 "Pamac shows an AUR update, but yay does not, thoughts?"
### Affected Version

`yay v10.3.1 - libalpm v13.0.0`

### Describe the bug

I use `pamac-aur` to check what updates are coming out throughout the week, (I know you can also use `checkupdates` in a terminal as well). Because of this I knew I had a few AUR updates to take care of. So I updated my system today via `sudo pacman -Syu` and everything went smoothly. I knew I had 3 AUR packages to update

[2021-08-27 22:26] Jguer commented on #1593
Hey @Scotty-Trees ,

`yay -Y --gendb` creates the file `~/.cache/yay/vcs.json` with the latest SHA of the origin for each `-git` package. It gives a starting point for `yay` to start checking devel upgrades. At this point for `yay` it does think that you have the latest upstream version installed (even if you do not).

When you run `yay -Syu --devel`, yay checks again all of the remote SHAs agains

[2021-08-28 01:18] Scotty-Trees commented on #1593
Thanks very much for the quick reply! So that I get this straight, since today was the first time that I ran `yay -Y --gendb` anything after that then `yay` will see the git update, but since I just did it for the first time today, everything looks up to date. So essentially the next time that `popsicle-git` has an update, that is when `yay` will for sure see the update I take it? Do I understand

[2021-08-28 12:04] Jguer commented on #1593
Exactly that :+1:

[2021-08-28 15:43] Scotty-Trees commented on #1593
Ah okay no worries, that's good to know. Definitely helps to now have a better understanding of how `yay` works. I think since it's not really an issue/bug, but more by design I think it's okay if you close this issue then? Thanks for helping me better understand `yay` I appreciate the work you do for it, it's a lovely AUR helper for sure! Thanks again for you help with this :)

[2021-08-29 22:05] #1593 closed, assigned to nobody

[2021-08-31 00:25] Jguer commented on #1194
`yay` should now default to `doas` if it's the only privilege elevation tool installed. (available on `yay-git`), from my limited testing it should be working mostly fine, I'll be driving `doas` for a bit to make sure nothing is missing

[2021-08-31 00:25] #1194 closed

[2021-08-31 00:32] Jguer commented on #1548
Closing as duplicate of https://github.com/Jguer/yay/issues/848

[2021-08-31 00:32] #1548 closed, assigned to nobody

[2021-08-31 00:32] Jguer commented on #1126
Closing as duplicate of https://github.com/Jguer/yay/issues/848

[2021-08-31 00:32] #1126 closed

[2021-08-31 00:33] Jguer commented on #915
Implemented in #1573, currently it's a bit ugly visually but it works :sweat_smile:

[2021-08-31 00:33] #915 closed

[2021-08-31 00:50] #1435 closed, assigned to nobody

[2021-08-31 10:24] mpalermo73 opened #1596 "Version Handling Improvement"
### Affected Version

[code]

### Describe the bug

If package has a letter in the version, it appears to be ignored.  In this case zoomn is the focus of the report.  The rest is there just for command output completeness.

[code]

### Expected behavior

zoom version `5.7.6-1` should be getting upgraded to version `5.7.6a-1`

THANK YOU!

[2021-08-31 10:29] Morganamilo commented on #1596
The aur maintainer has the versioning wrong. The version should be `5.7.6.a-1` for alpm to recognise it as newer.

[2021-08-31 22:27] #1596 closed, assigned to nobody

[2021-08-31 22:29] #1480 closed, assigned to nobody

[2021-09-02 15:41] jac-cbi opened #1597 "Cron job `yay -Syu` as root doesn't work for AUR packages"
### Affected Version

yay v10.3.1 - libalpm v13.0.0

### Describe the bug

I build, run, and maintain many servers on my home network.  I have a strict automated update / upgrade policy.  I'd rather have a box fail to reboot than have an out-of-date system running on the local network.  Between Gentoo, Arch, and now Artix this process has always worked well, with a reasonable level of security. Ge

[2021-09-02 16:30] jac-cbi commented on #1597
Quick side note:  I've now had to run `yay -Su` for the third time because of a proper `sudo` timeout.  The situation is that I'm having to manually call `yay` every once in a while to update AUR packages (due to the above issue).  It takes a while to build, so I switch to a different desktop, and do more interesting things.  Then I miss the prompt... sigh.

Fixing this issue would have the advant

[2021-09-03 05:04] ecraven opened #1599 "Unable to build: unrecognized command line option '-fstack-clash-protection' and '-fcf-protection'"
### Affected Version

Currently installed: yay v10.3.0 - libalpm v13.0.0
Trying to install: aur/yay 10.3.1-2 (+1558 49.73) (Installed: 10.3.0-1)
gcc: gcc (GCC) 11.1.0

### Describe the bug
When trying to install yay, I run into:
[code]

My system is an otherwise up-to-date Arch Linux.
### Reproduction Steps

1. `yay -S yay`

### Expected behavior

yay compiles and installs fine.

[2021-09-03 18:50] Jguer commented on #1597
:+1: This feature will be implemented in a commit added to #1595 with systemd-run,

I'm closing this issue to track on the main issue https://github.com/Jguer/yay/issues/69

[2021-09-03 18:50] #1597 closed, assigned to nobody

[2021-09-03 18:52] Jguer commented on #1599
Are these `CFLAGS` added in `/etc/makepkg.conf`?

[2021-09-03 19:05] Morganamilo commented on #1599
If I remember correctly, pacman 6 added these option to the default makepkg.conf. Arm doesn't support these flags though and it wasn't merged out.

[2021-09-03 19:59] jac-cbi commented on #1597
IIUC, `systemd-run` restricts what a process running as root is permitted to do.  This is, I guess, ok.  But it is systemd-centric.   Will `yay` still spawn a subprocess and drop privileges?  That would make it a more secure tool, especially in Artix / ARMtix.

[2021-09-03 20:04] ecraven commented on #1599
Thank you very much, this was the problem, I removed it (on x86_64),
thanks worked fine!

[2021-09-05 12:11] dvdesolve opened #1600 "signal: killed during yay runs"
### Affected Version
[code]
Previous versions are affected as well

### Describe the bug
During run of `yay -Syu` when it checks AUR packages sometimes I observer the following errors in stdout:
[code]
A bunch of `signal: killed` floods my console screen. It happens from time to time, I can't find any specific pattern or so. It also exists on different machines with different CPUs, DEs, kernels et

[2021-09-05 18:32] Jguer commented on #1600
Hey @dvdesolve , try `yay-git` it has some changes to `Checking development packages` mechanism.

This error comes from the `git ls-remote` used to check dev updates, normally it's due to some issue with your `.gitconfig`/ network/ a package that has gone private

[2021-09-06 22:42] Jguer commented on #69
Best effort implementation in #1595 , some improvements should be possible after testing

[2021-09-06 22:42] #69 closed

[2021-09-08 20:29] #1586 closed, assigned to nobody

[2021-09-08 20:30] #1530 closed, assigned to nobody

[2021-09-08 20:30] #1522 closed, assigned to nobody

[2021-09-08 20:32] Jguer commented on #1542
Probably you're behind a corporate proxy (or a very insecure network), it is safer if this is not allowed

[2021-09-08 20:32] #1542 closed, assigned to nobody

[2021-09-08 20:49] Jguer commented on #1529
Unable to reproduce in test written in 84e872ebe3e5b275f78bb33539546abbfada4573

[2021-09-08 20:49] #1529 closed, assigned to nobody

[2021-09-08 20:50] #1524 closed, assigned to nobody

[2021-09-08 20:51] Jguer commented on #1521
`--noconfirm` is passed to the pacman executable

[2021-09-08 20:55] Jguer commented on #1470
Hey @d-air1 , it seems to be possible to set kdiff as diff tool for git:
https://stackoverflow.com/questions/33308482/git-how-configure-kdiff3-as-merge-tool-and-diff-tool

Other examples of changing the diff tool for git:
- https://github.com/so-fancy/diff-so-fancy
- https://github.com/dandavison/delta

[2021-09-08 20:55] #1470 closed, assigned to nobody

[2021-09-08 21:02] #1172 closed

[2021-09-08 21:03] Jguer commented on #1172
Thanks @AndydeCleyre , this was really an edge case when there were no results from the repository

[2021-09-08 21:11] d-air1 commented on #1470
Thanks. I'll give those solutions a try.

[2021-09-09 09:31] Brannua opened #1601 "Can I just use yay instead of pacman?"
Hello, What are the essential differences between yay and pacman? Besides,where can I get these informations from?Thanks a lot.

[2021-09-09 09:34] Morganamilo commented on #1601
Yay is designed to act the same as pacman but also adding support for the AUR where appropriate. The man page lists what is extended to support the AUR.

[2021-09-09 09:45] Brannua commented on #1601
Thanks for your reply, can I just use yay instead of pacman? Will there be problems if I only use yay instead of pacman?

[2021-09-09 11:18] Jguer commented on #1601
- You can use yay instead of pacman (at least that's the objective).
- There should not be problems as for repository operations yay calls pacman (if there is a problem feel free to open an issue about it :smiley: )

[2021-09-09 11:18] #1601 closed, assigned to nobody

[2021-09-09 12:00] Brannua commented on #1601
Thank you ~

[2021-09-09 15:27] adrinjalali opened #1602 "use su instead of sudo if the user is not a sudoer"
Right now if I run `yay` from a user which is not a sudoer (which is the case with all my users on my machines), `yay` would try to run with `sudo`, and of course it'd fail.

It would be nice for the tool to run with `su` instead of `sudo` if the current user is not a sudoer.

The background is that for security reasons the user which is used by the user on a daily basis, has to be different and h

[2021-09-09 16:24] Jguer commented on #1602
Already implemented in `yay-git` in https://github.com/Jguer/yay/commit/c8fcdeae5b168d7a3eb3d805ee823d0fd5658b85 . Should be in the next release of yay

[2021-09-09 16:24] #1602 closed, assigned to nobody

[2021-09-11 22:52] t-richards opened #1603 "Exit code does not match pacman"
### Affected Version

`yay v10.3.1.r58.gb2a7281 - libalpm v13.0.1`

### Describe the bug

In some cases, the exit code of `yay` does not match that of `pacman`. This makes automation difficult because the tools behave in different ways.

### Reproduction Steps

1. Fully update the system.
2. Query for upgrades using `yay`.
3. Query for upgrades using `pacman`.
4. Expect the return codes of both in

[2021-09-15 02:31] Goblin80 commented on #472
Editing PGKBUILD has been explicitly addressed on the README's FAQ:

`yay --editmenu --nodiffmenu --save`

[2021-09-19 06:56] CompaqDisc opened #1604 "Incompatible with pacman 6.0.1-2 (libalpm.so=13)"
### Affected Version

10.3.1-2

### Describe the bug

Yay does not seem to support libalpm 13.

`yay: error while loading shared libraries: libalpm.so.12: cannot open shared object file: No such file or directory`

### Reproduction Steps

1. Update pacman
2. Run yay

### Expected behavior

Support for pacman 6.0.1 would be ideal. :)

### Output

[code]

[2021-09-19 13:11] yarons opened #1605 "local is not newer than AUR"
### Affected Version

yay v10.3.1 - libalpm v13.0.1

### Describe the bug

Package version appears as if the local is newer than AUR but the opposite is correct.

### Reproduction Steps

1. Run `yay -Syyu` with zoom preinstalled
2. The following message appears:
`zoom: local (5.7.6-1) is newer than AUR (5.7.6a-1)`

### Expected behavior

Looking at the git it looks like the version with a is in fa

[2021-09-19 13:15] Morganamilo commented on #1605
The maintainer has the incorrect pkgver format.

[2021-09-19 13:15] #1605 closed, assigned to nobody

[2021-09-19 13:16] Morganamilo commented on #1604
Rebuild yay.

[2021-09-19 13:19] yarons commented on #1605
Seems legit, thanks.

[2021-09-20 12:13] CompaqDisc commented on #1604
I've already tried rebuilding following the instructions in `README.md` multiple times. The error persists.

[2021-09-20 12:31] Morganamilo commented on #1604
It's impossible to get that error after rebuilding. Post your process of rebuilding.

[2021-09-20 12:40] CompaqDisc commented on #1604
On a fully updated system (as of now):
[code]
I've tried manually removing the currently installed `yay` beforehand, and that did not make a difference either.

[2021-09-20 12:52] Morganamilo commented on #1604
Please don't truncate the output.

[2021-09-20 12:54] CompaqDisc commented on #1604
Edited to reflect complete output.

[2021-09-20 13:17] Morganamilo commented on #1604
Do you happen to have a second install of pacman? For some reason?

[2021-09-20 13:20] CompaqDisc commented on #1604
No, I just have the default install from core.
[code]

[2021-09-20 13:22] Morganamilo commented on #1604
So there's nothing in /usr/local/lib?

[2021-09-20 13:31] CompaqDisc commented on #1604
[code]

[2021-09-20 13:39] Morganamilo commented on #1604
What about which yay?

[2021-09-20 13:40] CompaqDisc commented on #1604
[code]

[2021-09-20 13:40] Morganamilo commented on #1604
There ya go

[2021-09-20 13:45] CompaqDisc commented on #1604
Well then... Not sure why that was there... Thanks for all the help!

[2021-09-20 13:45] #1604 closed, assigned to nobody

[2021-09-20 13:46] Morganamilo commented on #1604
if you ever ran `make install` that's probably why.

[2021-09-20 13:46] CompaqDisc commented on #1604
I can certainly believe I might have done that.

[2021-09-21 22:06] mattalxndr commented on #1515
This would be a nice addition. Meanwhile, I will just use an alias or something I guess.

[2021-09-22 05:32] ScriptJunky commented on #1515
Thanks much @Jguer for moving this over to a feature request!

[2021-09-22 07:33] mattalxndr commented on #1515
One workaround would be to pipe the output through `paste - -`:

[code]

[2021-09-22 12:49] ScriptJunky commented on #1515
I'm doing something similar (not as simplified as paste, though);
[code]
![Screenshot from 2021-09-22 08-48-41](https://user-images.githubusercontent.com/14885339/134346472-b7a645fb-352f-4401-819c-c7fbb773e319.png)

Specifying tab character as separator in column, so that it aligns the text cleanly.

[2021-09-26 02:18] mattalxndr commented on #1515
Arms race :-)

[code]

![](https://i.imgur.com/5YeSate.png)

What yay really needs is something like [expac](]https://github.com/falconindy/expac). Or maybe yay support built into expac.

![](https://i.imgur.com/OrMzoM9.png)

[2021-09-26 23:38] loathingKernel commented on #956
Sorry for the necrobump but this is definitely not a PKGBUILD issue, the PKGBUILD does it "properly" as it follows Arch's `wine` and `wine-staging` PKGBUILDs. I have had users report broken builds due to not honoring the CFLAGS as they were defined in `prepare()`. Moving them into build is also annoying as it breaks clean diffs with upstream PKGBUILDs.

This is **NOT** an issue with the PKGBUILD a

[2021-09-27 00:27] Morganamilo commented on #956
This breaks `makepkg -o && makepkg -e` wich is official tools. Just cause a package in the repos does something doesn't make it right.

[2021-09-27 10:56] loathingKernel commented on #956
Your example explicitly uses developer oriented options, and it is not the suggested usage when building a package, i.e. no user should be doing this without explicitly stating their intention to `makepkg` through the switches. It is extracting the sources and then it uses the prepared source to build a package. Just cause that command can emulate the build process it doesn't mean it is the build

[2021-09-27 11:05] Morganamilo commented on #956
Says who? They're valid and useful flags.

Again says who?

Then we're in agreement somewhat. Only difference is I will not cater to bad practice. The packages you list should be fixed.

[2021-09-27 11:17] loathingKernel commented on #956
They are valid and useful, when specified explicitly. A naked `makepkg` won't fail because variables are exported in `prepare()`. Ergo the default behavior is not your example which explicitly stops the process, exits to the shell and then starts it again, but rather the retention of the environment.

The bad practice here is to not follow the intention of the upstream tools, as they are being use

[2021-09-29 14:04] Phyks opened #1606 "Warn about out of sync mirrors"
Hi,

### Is your feature request related to a problem? Please describe.

Some official Arch repositories are out of sync. This is the case from http://archlinux.de-labrusse.fr/ which is the first server listed in the "France" output of the archlinux.org mirrorlist tool: https://archlinux.org/mirrorlist/?country=all&country=FR&protocol=http&protocol=https&ip_version=4.

See http://archlinux.de-labr

[2021-10-01 09:11] BlackDex commented on #1600
for me this also happened, and i apparently had:
[code]

In there, after i removed it, i suddenly got some packages which needed updating.
While one fails building but i do not think this has something to do with yay.

[2021-10-01 20:58] Konzertheld commented on #1469
I like that solution except that I would like to have all the logs, not only those of failed packages.

[2021-10-02 06:55] naclander opened #1607 "Yay unable to resume certain interrupted packages"
Downloading an aur package ( regolith-full ), interrupting it, and then trying to install it again via yay shows the following failure:

[code]

I believe this AUR package downloads multiple packages ( deb files ), and this is not resumable, which yay tries to do.

This feature of yay usually works fine,  but is yay able to handle this particular curl error, and retry the download from the beginni

[2021-10-09 05:51] protist commented on #1531
"further activity"

[2021-10-09 15:18] PaoJiao opened #1609 "does yay have package group feature?"
packages grouped by `new release`, `new version` and `new package` like `yaourt` did.

does `yay` have this group feature?

[code]

[2021-10-09 21:04] JuniorJPDJ commented on #512
<3

[2021-10-10 00:46] mrsteve0924 opened #1610 "fatal: cannot change to 'clean': No such file or directory"
### Affected Version
yay v11.0.0 - libalpm v13.0.1

### Describe the bug
after pacman finishes installing file i get this error
output of pacman...

![yay](https://user-images.githubusercontent.com/37476191/136677289-73c518c2-b7a6-4dfa-a9fc-cf7e5faa8b68.png)

package does get installed. i do have makepkg saving packages to another location other than the yay default location if that matters.

$ ya

[2021-10-10 09:02] #1610 closed, assigned to nobody

[2021-10-10 09:03] Jguer commented on #1610
Hey @mrsteve0924 , I've found the issue, seems to have been a small forgetful moment. Thanks for reporting the issue

[2021-10-10 16:19] dongho-jung commented on #1522
I had the same issue today, and I fixed as follows

I'm happy now :D

[2021-10-11 12:06] tam1m opened #1612 "yay fails to create custom build directory ("buildDir": "/tmp/yay")"
### Affected Version
yay v11.0.1.r0.g52efaeb - libalpm v13.0.1

### Describe the bug

yay doesn't create the build directory if it does not exist and fails

### Reproduction Steps

1.set `"buildDir": "/tmp/yay",` in config.json
2. try to install some package with yay -S package

### Expected behavior

yay creates `buildDir` if it does not exist and uses it

### Output

[code]

[code]

[2021-10-11 19:46] gkatev commented on #695
don't close?

[2021-10-13 04:46] Raymo111 commented on #1273
Can we reopen this issue? I'd like to see support for pkgbases added.

[2021-10-13 15:09] yochananmarqos opened #1613 "vcs.json not being updated or created"
### Affected Version
11.0.1.r0.g52efaeb-1

### Describe the bug

When running `yay -Y --gendb`, it is not updating / creating `~/.cache/yay.vcs.json`. Running `yay -Sua --devel` reads that list and reports the same updates no matter what version of the packages are installed. Removing `vcs.json` then shows no updates and does not recreate it. However, installing a new VCS package does add the pack

[2021-10-14 07:39] Jguer commented on #1612
I confirm this bug, we're no longer ensuring the creation of the build dir but we're not giving proper warning that it doesn't exist.

To fix:

- [ ] yay defaults to a prefixed temp dir in case a persistent build dir is not available
- [ ] If the build dir specified in `~/.config/yay/config.json` doesn't exist, warn that the dir does not exist and use a prefixed temp dir.

Workaround:

Change the

[2021-10-14 08:36] Digitalone1 commented on #1612
Why would you not ensure the creation?

I had to downgrade yay because of this bug. Please fix for the users that don't want the buidDir on their SSD.

[2021-10-14 10:07] adrinjalali opened #1614 "yay 11.0.1 fails to switch to su instead of sudo"
### Affected Version

[code]

### Describe the bug
`yay` fails to switch to `su` instead of `sudo` when run from a non-sudoer user. Seems like it should have been fixed in https://github.com/Jguer/yay/commit/c8fcdeae5b168d7a3eb3d805ee823d0fd5658b85

[code]

### Output

Current config:

[code]

[2021-10-14 11:07] Jguer commented on #1614
Hey @adrinjalali `yay` chooses only one privilege elevator for its session, and if `sudo` is installed it will use that instead of falling back on one of its counterparts.

That's what https://github.com/Jguer/yay/commit/c8fcdeae5b168d7a3eb3d805ee823d0fd5658b85 did.

I am changing the label of your issue to `feature_request`. My only requirement for it would be that it doesn't require the user to

[2021-10-14 12:27] adrinjalali commented on #1614
Thanks for the quick response. `timeout -k .1 .1 sudo -v` and checking the output of the process should be a good place to start I guess. The process returns 1 if the user can't run `sudo`

[2021-10-14 19:54] guglovich commented on #1405
I have this error without using --devel
I solved the problem by manually creating a yay folder. But it is unclear why yay itself stopped doing it.

[2021-10-14 22:15] tam1m commented on #1612
Well, thank you for the continued development of yay. It's awsome! ;)

But, I agree with Digitalone1. Why should yay not just create `buildDir` if it doesn'n exist? What was the reasoning for the changed behaviour?

I am also biulding my packages in tmpfs on purpose

[2021-10-14 22:57] Morganamilo commented on #1612
For reference pacman will create its own cachedir if it doesn't exist.

[2021-10-15 14:35] Jguer commented on #1612
This was changed due to `systemd-run` inclusion that insists in creating its own build dir due to permissions/ownership.

It is clear now that this will not work well for some users (I underestimated the amount of users using `/tmp/yay` as build directory).

I will change the behavior so build dir creation is assured (unless it's `/var/cache/yay` which systemd-run uses).

[2021-10-15 16:40] Raymo111 commented on #1315
@Jguer any update on this? `--cleanafter` is still removing package sources after a failed install which is causing me to have to redownload massive packages :cry:

[2021-10-15 17:22] #1612 closed, assigned to nobody

[2021-10-15 17:24] Jguer commented on #1612
Tentative fix in `yay-git`, will push out a patch bump soon but first I'd like to try and implement a regression test

[2021-10-15 17:26] Jguer commented on #1614
a user that can run sudo but with a password prompt will also get `status==1` with this command

[2021-10-17 13:50] dginovker opened #1616 "Make yay package search hyphen-agnostic"
### Is your feature request related to a problem? Please describe.

`yay -s lunarclient` yields no results, but [searching](https://aur.archlinux.org/packages/?O=0&K=Lunarclient) the AUR for `lunarclient` finds the package `lunar-client`

### Describe the solution you'd like

`yay -s lunarclient` should find `lunar-client` like the AUR itself does

### Describe alternatives you've considered

[Req

[2021-10-17 15:02] VVishion opened #1617 "Upgrading yay failing with go build permission error"
### Affected Version

installed version: `yay v11.0.1 - libalpm v13.0.1`
trying to install: `yay-11.0.2`

### Describe the bug

Installation of `yay-11.0.2` with `sudo yay -Syu` fails.
Spezifically:
`go build -trimpath -mod=readonly -modcacherw -ldflags '-X "main.yayVersion=11.0.2" -X "main.localePath=/usr/share/locale/" -linkmode=external' -buildmode=pie -o yay`
fails with
`failed to initialize b

[2021-10-19 20:45] Morganamilo commented on #956
As this has come up multiple times I've decided makepkg will explicitly stop allowing this. Best way to force every one to fix their stuff :P

[2021-10-19 20:56] loathingKernel commented on #956
Personally, I am absolutely fine with this change. What matters to me the most is consistency across tools. What I don't like is scratching my head why someone is having issues with my contributions because they are using a helper (which I can't know about).

[2021-10-20 03:20] whoisYoges opened #1618 "doas is not being used while compiling; directly jumps to su if didn't find sudo"
**_### doas_** works fine while using yay; but doesn't work while compiling/installing yay.

yay searches for **sudo** while compiling;
if it didn't find sudo it uses su, but many of us have been using [opendoas](https://archlinux.org/packages/community/x86_64/opendoas/) in place of sudo.

So it would be better if it search and use opendoas (doas) if it didn't find sudo before going to su while co

[2021-10-21 15:43] yochananmarqos commented on #1613
I can't reproduce this on my other laptop, so it may be some configuration issue specific to this machine and not an issue with Yay itself. I've tried removing `~/.config/yay/` and `~/.cache/yay/` to no avail.

Is there anything that could affect this? Something in my Git configuration or something?

[2021-10-22 08:26] Rogach commented on #1614
Isn't using `--sudo=su` better, to explicitly ensure that the correct binary is selected? Trying to implement autodetection of such features is usually fraught with peril.

[2021-10-22 10:42] adrinjalali commented on #1614
Yes it is. I had always failed to get it work cause I forgot to do `yay --sudo=su -Syu` instead of `yay --sudo=su`. I'm perfectly happy with the option I have now. Feel free to close the issue if you think it doesn't need a fix. I was confused since I came from `yourt` and that automatically switches to `su` when needed even if `sudo` is installed.

[2021-10-22 12:18] Ashark commented on #855
Yes, the directory is empty and there is no example in documentation.
I have found #697, saying how to save option for config. For example, I want to make "--editmenu" option permanent. So I run `yay --editmenu --save` and then /home/andrew/.config/yay/config.json file is created with the following content:

[code]
This is for yay v10.3.1 - libalpm v13.0.1

[2021-10-22 12:26] Ashark commented on #750
For those who come from web search and want to make --editmenu option to be permanent:
`yay --editmenu --save`
The config will be created and next time you do not need to specify it. See #855 for the config example.

[2021-10-23 23:19] yochananmarqos commented on #1613
It's started to work again, I can't explain it. I'll close this for now.

[2021-10-24 14:40] yochananmarqos opened #1619 "Downloading from ABS does a full checkout instead of export"
### Affected Version

yay v11.0.2.r0.g3fef4ae - libalpm v13.0.1

### Describe the bug

Relatively recently, using `yay -G` does the same as `asp checkout` which downloads the files twice.

Example with `gtk3`:

[code]

### Expected behavior

It should do the same as `asp export` as it did before.

[code]

### Output

[code]

[2021-10-24 15:25] rightaway commented on #1436
?

[2021-10-24 15:42] mbwgh opened #1620 "Garbled output when downloading sources - Display of multiple downloads from AUR overlap"
### Affected Version

`yay v11.0.1 - libalpm v13.0.1` (before the upgrade)
`yay v11.0.2 - libalpm v13.0.1` (after)

### Describe the bug

When downloading sources for a full system upgrade, output is garbled, but only during the download phase.
![2021-10-24-172706_1920x838_scrot](https://user-images.githubusercontent.com/28275377/138601413-58d95d10-cf53-4049-b796-746619bc57e6.png)

### Reproductio

[2021-10-25 18:17] Jguer commented on #1620
This bug (more unimplemented feature) is confirmed. Currently concurrent download just throws all the output to stdout.

Ideas welcome

[2021-10-25 18:20] #1614 closed, assigned to nobody

[2021-10-25 18:29] Jguer commented on #1618
Hey @YogeshLamichhane , this issue is related to the `makepkg` util and not `yay`.

You may find related links that might help guide your request [here](https://wiki.archlinux.org/title/Pacman_development)

[2021-10-25 18:29] #1618 closed, assigned to nobody

[2021-10-25 21:05] yochananmarqos commented on #1613
False alarm, no it didn't. It only remembers packages I build with `yay`. Anything I build manually it still thinks there's a newer commit when I've already built it with that commit. It's happening on both my machines.

[2021-10-26 02:07] whoisYoges commented on #1618
@Jguer Thanks!
Finally found a solution.

should use: PACMAN_AUTH=(doas)
in /etc/makepkg.conf

[2021-10-26 06:40] mbwgh commented on #1620
I don't speak `go`, but on a high level I'd maybe try to approach the problem like the following.

There is a maximum of `N <= 25` concurrent download threads, often, much less. It should thus be realistic to stack `N` progress indicators on top of each other and update them inplace (assuming the shell supports this), similar to how docker does this.

In `PKGBUILDRepos` instead of using a single `

[2021-10-26 22:10] ido commented on #1538
Problem persists.

On Tue, Oct 26, 2021 at 14:39 stale[bot] ***@***.***> wrote:

[2021-10-28 07:14] Jguer opened #1623 "Search does not return results even when they exist"
### Affected Version

yay v11.0.2.r13.g57a9630 - libalpm v13.0.1

### Describe the bug

`yay -Ss systemd`
`yay systemd`
`yay hook`

doesn't return any results

### Expected behavior

Results are returned

[2021-10-28 15:45] #1623 closed, assigned to nobody

[2021-10-29 01:59] umonaca opened #1624 "yay should read PKGBUILD after it has been modified"
### Affected Version

yay v11.0.1 - libalpm v13.0.1

### Describe the bug

`yay --editmenu` added the functionality to edit the PKGBUILD before install. However, when I use this option to remove unnecessary dependency from the PKGBUILD file, in the installation it still prompts me to install the dependency that I removed.

### Reproduction Steps

1. `yay --editmenu -Syu zoom`
2. When prompted abou

[2021-10-29 07:06] Morganamilo commented on #1624
Yay does not read the pkgbuild. See the faq.

[2021-10-29 14:40] umonaca commented on #1624
This does not make sense. Since yay provides an option to edit PKGBUILD anyway, it should assume that the user understands what they are doing. Otherwise, what's the point of allowing editing PKGBUILD anyway?

There are many cases where the PKGBUILD includes redundant dependencies (`ibus` is a **very common** one in AUR and it sometimes cause problems for non-English users).

Anyway, I can still w

[2021-10-29 14:53] Morganamilo commented on #1624
Yes it assumes you know yay does not read pkgbuilds

Version bumping. Changing build flags, adding provides, etc.

[2021-10-31 22:42] droserasprout opened #1626 "Command with invalid arguments makes yay hang forever"
### Affected Version

`yay v11.0.2.r14.g15d91e4 - libalpm v13.0.1`

### Describe the bug

`yay -Ssoptimus-manager` command (typo, missing whitespace) makes yay to wait for something forever.

### Reproduction Steps

1. Run `yay -Ssoptimus-manager` command
2. Nothing's printed, just blinking cursor forever

### Expected behavior

Error message printed, yay exit with non-zero code.

### Output

####

[2021-10-31 22:44] Morganamilo commented on #1626
It's probably the supplied - meaning it's waiting for targets on stdin

[2021-11-01 21:52] mattalxndr opened #1627 "[`next` branch] In `NumberMenu` search mode, numbering is reset to "1" after the pacman entries"
### Affected Version

Branch: `next` (currently 15d91e4661b7b7c2ed1b6c447168975d6b3900a2)
`yay -V` says `yay v11.0.0 - libalpm v13.0.1`

### Describe the bug

When running a yaort-style "number menu" search, numbering is reset to "1" after the pacman entries.

### Reproduction Steps

[code]

### Expected behavior

Numbering from 1 to 15.

[code]

### Output

Numbering from 1 to 2, then 1 to 13.

[

[2021-11-01 22:01] mattalxndr commented on #1616
What would be really cool is if there was a multi keyword search. I'm constantly running commands like this:

Say I wanted to find a python interface for Pulseaudio:

[code]

Would be nice to have the search fuzzy enough to handle something like:

[code]

That's probably a feature request I'd file at the pacman repo though. Then maybe it'll trickle down.

[2021-11-01 22:43] Morganamilo commented on #1616
Yay ands together all keywords by default.

[2021-11-01 22:43] Morganamilo commented on #1616
Also -s on its own is not a thing. If you meant -S then that only matches exact package or provides.

[2021-11-01 22:48] mattalxndr commented on #1616
I didn't even think to try, silly me.

Not sure what you're referring to. The small "s" in `yay -Ss pulse` is just short for `--search pulse`, so these are equivalent:

[code]

Seems like this is what you're saying, I'm just confused about why you're saying it.

[2021-11-01 22:54] Morganamilo commented on #1616
The original issue used yay -s

[2021-11-04 11:13] zupatisc commented on #1613
I might have the same bug, my desktop does not create vcs.json when running `yay -Y --gendb` nor does it seem to check if any updates are actually available. On the other hand my laptop that also runs `yay v11.0.2 - libalpm v13.0.1` has no such problems and correctly updates git packages.
As an example:
[code]
And my config.json:
[code]

[2021-11-04 11:15] Morganamilo commented on #1613
Do you actually have any -git packages installed?

[2021-11-04 11:18] zupatisc commented on #1613
I do, namely neovim-git which I know from my laptop should come up often enough for updates.

[2021-11-04 13:34] xeruf commented on #460
Still having this issue - potential regression?
[code]

[2021-11-04 13:36] xeruf commented on #460
Had to remove
[code]
from config.json

This should not be necessary.

[2021-11-05 08:26] #1515 closed, assigned to nobody

[2021-11-05 11:25] lil5 commented on #649
@kaymio Please reconsider, being able to install and update flatpak packages (if flatpak is installed) would be a great asset IMO.

[2021-11-05 14:09] vmw commented on #1315
Hi,

This also happened to me. Again, this occurred after a fairly long build, and the installation failed because files already existed in the system.

PROBLEM

It looks like yay doesn't save compiled packages if they aren't installed successfully.

REPRODUCTION

This occurred when attempting to install something using binary packages - the PKGBUILD in question does not use git.

0) Create an emp

[2021-11-06 09:43] rien333 commented on #1619
Yeah, this is fairly annoying actually.

[2021-11-06 16:07] ChaoXu1997 opened #1628 "When I install the com.qq.tim.spark using yay, it shows that 'Could not find all required packages:'"
-> Could not find all required packages:
	lib32-gst-plugins-base-libs (Wanted by: com.qq.tim.spark -> deepin-wine5 -> deepin-wine5-i386)
	lib32-libxtst (Wanted by: com.qq.tim.spark -> deepin-wine5 -> deepin-wine5-i386 -> lib32-openal-git -> lib32-libpulse-nosystemd-git)
	lib32-portaudio (Wanted by: com.qq.tim.spark -> deepin-wine5 -> deepin-wine5-i386 -> lib32-openal-git)
	lib32-readline (Wanted b

[2021-11-06 19:56] dybdeskarphet opened #1629 "Just a request about the translation"
_issue was created due to a misunderstanding_

[2021-11-06 23:18] #1627 closed, assigned to nobody

[2021-11-07 12:25] patlefort opened #1631 "AUR packages should be built in order of dependency."
### Affected Version

yay v11.0.2.r22.ge38d013 - libalpm v13.0.1

### Describe the bug

If I want to install AUR package A that depends on AUR package B and B isn't already installed, B should be built and installed first. Right now there is no guarantee that it will happen, even with --nobatchinstall.

### Reproduction Steps

Example on a fresh system:
Try installing freeipa `yay -S freeipa-clien

[2021-11-07 23:24] jose1711 opened #1632 "Support for user defined scripts"
### Is your feature request related to a problem? Please describe.

`Yaourt` wrapper used to have feature showing user comments for AUR packages. I miss this feature in `yay`.

### Describe the solution you'd like

It would be really nice if `yay` supports a way to run a custom script (in my case it would be https://github.com/GermainZ/aur-talk) before `makepkg` is executed. Such script could rece

[2021-11-11 15:41] skyfaller commented on #1552
### Don't use stale bot

Please do not use stale bot, it makes the open or closed status of bugs meaningless. Closed bugs should mean:

- the bug is fixed
- the bug cannot be fixed (e.g. it is upstream)
- the maintainer does not want the bug to be fixed

When stale bot is in the mix, open/closed status is instead is a measurement of:

- how much discussion is required to understand the bug (obviou

[2021-11-12 07:48] manorit2001 commented on #915
https://github.com/gosuri/uiprogress something like this for better outputs might be good I think

[2021-11-13 13:41] Zoddo opened #1635 "AUR package with local commit: `fatal: Not possible to fast-forward, aborting`"
### Affected Version

yay v11.0.2 - libalpm v13.0.1

### Describe the bug

I have an AUR package on which I've made a change in its PKGBUILD, and committed it in the cached repository.

When trying to update this package with `yay -Suy`, I get the following error:
[code]

It looks like yay is running `git pull` with the `--ff-only` flag.
Manually running `git pull` in the `~/.cache/yay/teamviewer`

[2021-11-13 17:48] grandchild commented on #1635
I think the suggested workflow for local changes is to _not_ commit. Otherwise I believe the following would happen:

<img width="489" alt="yay-continuous-merge" src="https://user-images.githubusercontent.com/770029/141653837-c0fccfbc-4f38-4dc5-9197-08e662ab1eb8.png">

I might be wrong...

The other possibility would be to use `git pull --rebase`, possibly even the new `git pull --rebase --autosta

[2021-11-13 18:00] Morganamilo commented on #1635
No this is supported. It worked when I implemented it. Not sure if that's been changed.

[2021-11-16 18:59] mizzunet commented on #1022
Happens here
[code]

[code]
This did not help

[2021-11-16 19:11] techtycho commented on #1391
Enabling multilib worked for me..

[2021-11-17 12:24] KeNaCo opened #1636 "yay -U does not resolve AUR dependencies"
### v11.0.2

### Describe the bug

When installing a local package with `yay -U <package>`  will resolve only standard repositories and not AUR.
This is inconsistent in comparison to `yay -S`.

### Reproduction Steps

1. build any local package with `makepkg` that includes AUR dependency
2. `yay -U <package>`
3. Warning will be shown: warning: cannot resolve <AUR dependency package>, a dependency

[2021-11-18 17:31] ghost commented on #1227
For WSL try this:
https://github.com/Microsoft/WSL/issues/2465#issuecomment-619385604

For Termux try this:
https://github.com/sdrausty/TermuxArch/issues/83#issuecomment-451351053

[2021-11-19 11:17] DarkRedman opened #1637 "Can't install a package when using a different builddir"
### Affected Version

yay v11.0.1 - libalpm v13.0.1

### Describe the bug

Can't install a yaourt package if the builddir is different than the default one. The zip file will be missing, because it doesn't download it when the builddir is different even if use flags such as --rebuild --redownload.
I tried it by installing the package davinci-resolve

### Reproduction Steps

1. Open terminal
2. Typ

[2021-11-20 09:17] arstum opened #1639 "yay -S XXX"
yay -S XXX(anything)
display follow contents at the end

Errors occurred, no packages were upgraded.
error: target not found: python-markupsafe
error: target not found: python-beaker
error: target not found: python-mako
error: target not found: gobject-introspection
error: target not found: cppunit
 -> error installing repo packages

[2021-11-22 08:22] hjpotter92 opened #1640 "Multiple AUR packages being installed garbles the curl output"
### Affected Version

[code]

### Describe the bug

The curl output when downloading AUR package was garbled, like so:

[code]

### Reproduction Steps

I tried installing multiple `nerd-fonts` in a single run:

    $ yay -S nerd-fonts-{hack,fira-code,inconsolata,jetbrains-mono}

### Expected behavior

the output to be a little readable?

### Output

[code]

The package installations had no issues

[2021-11-23 02:26] redcathode opened #1641 "Yay garbles command line output with 'cannot load shared object file' under certain conditions"
### Affected Version

`yay v11.0.2 - libalpm v13.0.1` but I feel like the "bug" is present in most/all yay versions

### Describe the bug

If a library sudo depends on receives a soname bump, said library is upgraded before sudo is, and `sudoloop` is set to true, yay's output will be garbled with `cannot open shared object file` until sudo itself is upgraded. I suppose this is less a bug and more

[2021-11-24 00:26] LevitatingBusinessMan opened #1643 "Error importing GPG keys: "no user ID""
### Affected Version

yay v11.0.2 - libalpm v13.0.1

### Describe the bug

When I install a package that requires a GPG key to be imported I am met with the error:
[code]

I've started to notice this error recently.
I've experienced it both with `mingw-w64-tools` and `nginx-rtmp`.

### Reproduction Steps

1. Install package that requires a GPG key.

### Expected behavior

I expect yay to successfu

[2021-11-24 00:36] LevitatingBusinessMan commented on #1643
I fixed this by changing the default keyserver used by my GPG installation (to one that doesn't strip user IDs).

I'll leave it up to the maintainers to decide if this should be closed.

[2021-11-24 06:25] Blutkoete opened #1644 "Allow rebuild of whole AUR dependency tree"
### Is your feature request related to a problem? Please describe.

Currently, Boost 1.76 is coming in. ROS Noetic is an example of a big bunch of AUR packages depending on Boost. Currently, I manually rebuild these packages against Boost in the correct order so that later upgrades to packages higher up in the dependency chain do not fail because one of their dependencies still exposes Boost 1.75

[2021-11-25 08:01] luca-viggiani opened #1645 "Yay keeps proposing to upgrade aur/gdm-plymouth even if up to date"
### Affected Version
yay v11.0.2 - libalpm v13.0.1

This is what I always get;
aur/gdm-plymouth           41.0+r15+g23ebe617-1 -> 41.0+r15+g23ebe6171-1

Notice that current version is 41.0+r15+g23ebe617-1 whereas proposed version is 41.0+r15+g23ebe617**1**-1
[code]
It seems that it removes the last digit from the installed version so it keeps asking to upgrade.

[2021-11-26 21:13] hdhruna commented on #1639
Could you provide output for ``yay -Pg``

[2021-11-28 03:45] SwooshyCueb commented on #1479
go away stalebot

[2021-11-29 12:48] joaonunatings opened #1648 "Change package dependency"
### Affected Version
yay v11.0.2 - libalpm v13.0.1

### Describe the bug
Change package dependency for example: mssql-server 15.0.4188.2-2 needs libldap<=2.4.59
AUR has libldap24 2.4.59-1. I want to change mssql-server dependency from libldap to libldap24.
I have already set --setmenu. Everytime I try to upgrade mssql-server I get this:

### Output

[code]

[2021-11-29 13:15] joaonunatings commented on #1648
Nevermind, I fixed using `yay -G mssql-server` edited _mssql-server/PKGBUILD_ and changed _'libldap<=2.4.59'_ to _libldap24_.
Then `make -si`.

[2021-11-29 13:15] #1648 closed, assigned to nobody

[2021-11-29 13:30] Morganamilo commented on #1648
If libldap24 has a provide for libldap you wouldn't even need to edit the dep.

[2021-11-29 13:48] Morganamilo commented on #1644
What are you asking for that rebuild tree does not already provide?

[2021-11-29 16:56] joaonunatings commented on #1648
@Morganamilo  true, that's also a solution, unfortunately _libldap24_ PKGBUILD doesn't have a _provides_ field.

Get _libldap24_ PKGBUILD and add:
`provides=('libldap=2.4.59')`

[2021-11-29 17:07] Blutkoete commented on #1644
I'm sorry. I screwed up reading the man page because I didn't expect to find that option below "Permanent Configuration Options".

Sorry for the noise & thank you for your work.

[2021-11-29 17:07] #1644 closed, assigned to nobody

[2021-12-02 22:31] realh commented on #1022
Apparently that server strips names/user ids from keys, so it's no use, at least to yay. hkps://pgp.surf.nl just worked for me, on those same keys.

[2021-12-03 13:42] Jguer commented on #1643
kinda duplicate of #1022 , I'm closing it as there's not much we can do about changing user's gpg keyservers

[2021-12-03 13:42] #1643 closed, assigned to nobody

[2021-12-05 18:21] Jguer commented on #1641
Yeah, it's more of an oversight than a bug, but should be easy to implement :+1:

[2021-12-08 09:51] kinvaris commented on #1617
Encountered similar error when updating `yay-git` (`1  aur/yay-git  11.0.1.r0.g52efaeb-1 -> 11.0.2.r0.g3fef4ae-1`), even with sudo privileges. When upgrading my yay packages: `sudo yay -Syu`

[code]

[2021-12-09 07:38] Jguer commented on #1617
I can understand why this could happen with using `sudo`, should be easy to reproduce and fix

[2021-12-09 07:42] Jguer commented on #1636
not stale, probably a dup but most of the others may have been killed by stale bot

[2021-12-09 07:43] Jguer commented on #1635
This might have been from mutualizing several git calls, this should be restored to `git pull --rebase --autostash`

[2021-12-09 21:41] dvdesolve commented on #1600
Haven't seen this bug for quite a long time. I think it was already fixed in upstream

[2021-12-09 21:41] #1600 closed, assigned to nobody

[2021-12-10 01:06] Fabian42 commented on #1600
It happened to me on Sunday. `yay` version 11.0.2.

[2021-12-10 08:22] Jguer commented on #1552
@skyfaller you are right, it does generate a lot of noise, I've exempted bugs and triage from it.

https://github.com/Jguer/yay/commit/6c09d9bf335bd152aef3c608db00e14df5a036e5

[2021-12-10 11:44] Porkepix opened #1652 "Manage interdependency/conflict between AUR and repo packages with versions restrictions"
### Affected Version
`yay v11.0.2 - libalpm v13.0.1`

### Describe the bug

Some packages are interdependent, which the package manager should be able to tackle, but problem arise if it happens between an AUR package and a normal repo package.
Here's an example with archlinux.org/packages/community/any/gajim and aur.archlinux.org/packages/gajim-plugin-omemo

`yay` refuse to upgrade gajim because i

[2021-12-12 17:23] Jguer commented on #336
not stale

[2021-12-12 17:25] Jguer commented on #1551
I think adding to `IgnorePkg` in `/etc/pacman.conf` should implement this

[2021-12-12 18:04] tim-tx commented on #1551
Can confirm that it does.

[2021-12-12 18:04] #1551 closed, assigned to nobody

[2021-12-12 18:06] #1635 closed, assigned to nobody

[2021-12-12 18:07] Jguer commented on #1635
Must have been when `-G` an `-S` pkgbuild fetching got merged, they should now both have the same behavior with `--rebase` and `--autostash`

[2021-12-12 20:17] pythops opened #1653 "Update the binaries name in the release page"
Hi

It would be nice to add binaries in the releases page that have the name in this format : `yay_latest_<arch>.tar.gz`, so there is a permanent link that  always point to the latest release  `https://github.com/Jguer/yay/releases/latest/download/yay_latest_x86_64.tar.gz`.

Thanks

[2021-12-14 12:27] Jguer commented on #1653
I agree it is nice, but is there a why to justify this change?

[2021-12-14 12:31] pythops commented on #1653
The reason why I asked for this is that I use `ansible` to install `yay`.
[code]
  And by having `latest` instead of the version, whenever I run this task I'm sure I'll always get the latest version available.

[2021-12-14 14:12] grandchild commented on #1653
you could solve this on your end with:
[code]
(replace the `jq` part with some ansible way of getting the first entry's `tarball_url`. or just grep for "tarball_url".)

[2021-12-14 14:24] grandchild commented on #1653
Okay, after crawling the [Github API docs](https://docs.github.com/en/rest/reference/repos#list-release-assets) a bit more, this is what I came up with:
[code]

[2021-12-14 14:31] pythops commented on #1653
That would solve it but it would be much simpler and easier just to add  binaries with the right name :slightly_smiling_face:

[2021-12-14 14:36] grandchild commented on #1653
But wouldn't they also have to remove/rename them as soon as the release gets superseded by a new one? Don't know how this works exactly for github releases...

[2021-12-14 14:39] pythops commented on #1653
I guess that `https://github.com/Jguer/yay/releases/latest/download` always points to the latest release. Probably do not include `latest` in the release binaries. Maybe `yay-<arch>.tar.gz` is enough as name

[2021-12-18 18:24] myknbani commented on #1640
Can confirm this bug as well.

[2021-12-19 07:45] kgbook commented on #677
It should be `--cleanafter`, but not `--afterclean`.

[2021-12-19 07:46] kgbook commented on #677
It should be `--cleanafter`, but not `--afterclean`.

[code]

[2021-12-19 17:31] bgkillas opened #1655 "yay -c not removing optional depends"
i would like there to be an option like yay -cc or something that cleans all optional depends that are not explicitly installed also since some of my make packages are staying after installing because they are optionally dependent to some package

[2021-12-20 19:43] gaycomputers commented on #439
I actually found a (il)legitimate use for this, I managed to find a arch install that was only accessible through a xen passthrough package that was outdated on it and had a hard dependency breakage that caused the machine to be un-updateable. libffio was breaking pgp checks in yay and pacman, ended up having to skip the pgp fetch and check unsafely, just to get the machine updated to the point I

[2021-12-23 15:01] drujd commented on #1600
Happened to me 1 min ago.
yay v11.0.2 - libalpm v13.0.1

:: Searching databases for updates...
:: Searching AUR for updates...
:: Checking development packages...
 -> signal: killed
 -> terminus-font-ll2-td1-ttf: local (4.49.1-1) is newer than AUR (4.48-1)
 -> Orphaned AUR Packages:  terminus-font-ll2-td1-ttf
 there is nothing to do

[2021-12-23 20:37] carlosal1015 opened #1657 "Is not downloading PKGBUILD"
### Affected Version

yay v11.0.2 - libalpm v13.0.1

### Describe the bug

Is not downloading the folder with PKGBUILD from AUR.

### Reproduction Steps

1. yay -G paraview-opt

### Expected behavior

[code]

### Output

[code]

[2021-12-24 19:15] Scotty-Trees commented on #1600
Can confirm, happening to me as well on EndeavourOS Gnome, using `yay v11.0.2 - libalpm v13.0.1`
First time I'm coming across this issue/error, btw.

Edit: I do have `yay -Y --gendb` and `yay -Y --devel --save` enabled if that's helpful also.

[code]

Here's all my AUR packages if it's helpful at all to know as well:

[code]

[2021-12-24 21:21] BujuArena commented on #1590
This is still relevant.  See my previous comment.

[2021-12-24 22:11] carlosal1015 commented on #1657
Now is working as usual.

[2021-12-24 22:11] #1657 closed, assigned to nobody

[2021-12-25 07:54] xuestrange opened #1658 "How to make yay generate autocompletion cache"
### Affected Version
yay v11.0.2 - libalpm v13.0.1
### Describe the bug
I deleted the yay cache directory `/home/user/.cache/yay/`, then yay autocompletion can't work.
Is there any way to generate or download yay autocompletion cache mannually? like a line of command.

### Reproduction Steps

1. delete directory `/home/user/.cache/yay/`

### Expected behavior

### Output

[code]

[2021-12-25 08:28] Jguer commented on #1658
Normally yay will download it the first time you want to complete again, can you force a refresh with `yay -Pcc` and see if this works?

[2021-12-25 08:30] Jguer commented on #1590
Stale should stay away from this issue now. And I do agree that it would make sense to support it

[2021-12-25 08:34] Jguer commented on #1600
This is normally not a functional issue, just that yay failed to check one or more development packages. If you ran `--gendb` and the issue didn't go away (this would cover the url of the source having changed), it might be some setting of `.gitconfig` (for example: replacing https with ssh can sometimes have weird effects)

[2021-12-25 08:38] Jguer commented on #1655
yay `-Ycc` already does this and it works as far as I'm aware

[2021-12-25 08:38] #1655 closed, assigned to nobody

[2021-12-25 08:39] xuestrange commented on #1658
Works! :smile:

[2021-12-25 08:39] #1658 closed, assigned to nobody

[2021-12-25 16:02] Scotty-Trees commented on #1600
I haven't done anything, and the message as magically gone away, so I just want to say sorry to have bothered you. I do love using yay btw :)

[2021-12-26 11:14] LukasDoesDev commented on #885
Is this fixed yet?

[2021-12-27 07:42] qkzk opened #1659 "yay proposes an update, builds and proposes the same update again"
### Affected Version

[code]
### Describe the bug

* `yay` proposes an update,
* `yay` builds the package,
* `yay` proposes the same update.

### Reproduction Steps

1. `yay`
2. accepts the update
3. `yay` again

### Expected behavior

The package should be installed and not proposed again since it's up to date.

### Output

[code]

### Configuration

[code]

[2021-12-27 10:30] rien333 commented on #1619
@Jguer any workarounds perhaps?

[2021-12-27 12:11] Suleman-Elahi opened #1660 "Implementing yay as a protocol"
### Is your feature request related to a problem? Please describe.

Right now, one should stay/open the terminal to give the installation command manually. It could be changed by implementing yay as a protocol that will receive package name/version and will install it. Just like magnet links.

### Describe the solution you'd like

 It would be nice to have a `yay:` protocol. Later some browser ext

[2021-12-27 16:57] octylFractal opened #1661 "Provide a way to determine what repos are causing yay to freeze"
### Is your feature request related to a problem? Please describe.

One of my git packages has a repository that is unresponsive, unfortunately I can't tell which one it is because `yay`'s verbose flags do not emit any sort of text indicating which repository it's checking. This leads to `yay` freezing when doing `yay -Y --gendb`.

### Describe the solution you'd like

Some way to figure out what

[2021-12-28 16:27] Breigner01 commented on #1640
I have a similar issue, here is my output when I update my packages (only the yay packages part) using the command `yay`:
[code]

I don't include more because it's too long and the output is good after that.

[2021-12-29 08:02] konatizer commented on #1661
I can confirm that I've been having this problem too, `yay -Syu` and `yay -Y --gendb` will both result in a hang. currently on `yay v11.0.2.r36.g2552cf1 - libalpm v13.0.1`
i've tried `yay -Sc` and `yay --clean` and it still hangs, definitely not an expert on the subject so any help would be greatly appreciated.

[2021-12-30 01:49] salem8171 commented on #1640
Until this issue is fixed, I have found that changing the download commands in `/etc/makepkg.conf` from
[code]
to
[code]
will make the output less ugly, at least better than the screenshot in #1620.

But seeing how the download output is being handled by makepkg and not yay, I don't see how can this ever be fixed.

I would suggest prefixing the output lines with something like `[thread n]`:
[code]

[2021-12-30 17:04] Jguer commented on #1661
Yay should handle these cases, I'm labeling it as a bug

[2021-12-30 18:31] konatizer commented on #1661
Wanted to note that the problem seems to be fixed now, no more hanging on my end.

[2021-12-31 02:47] bgkillas opened #1663 "yay -cc not detecting lib32-librsvg"
### Affected Version
yay v11.0.2 - libalpm v13.0.1
### Describe the bug
lib32-librsvg not detected by yay -c/-cc
### Reproduction Steps

1.yay -S --asdeps lib32-librsvg
2.yay -cc

### Expected behavior

detecting the package

[2021-12-31 15:02] Fabian42 commented on #1600
I'm pretty sure this is network related. My internet connection just died while I was running `yay` and got this line **71** times.

[2021-12-31 16:15] Jguer commented on #1663
Hey @bgkillas , can you send over the output of `yay -Qi lib32-librsvg`

[2021-12-31 17:08] bgkillas commented on #1663
[code]

something i also noticed right now is lib32-librsvg does not seem to be detected with bash completion when i tab at `yay -S lib32-librsv

[2022-01-01 00:40] brettinternet commented on #1449
batchinstall doesn't work for me.

[code]

[code]

Should it work?

[2022-01-02 06:43] tarasis opened #1665 "ERROR: options array contains unknown option '!lto'"
### Affected Version

yay v10.1.0 - libalpm v12.0.2

### Describe the bug

I'm unable to update yay from  10.1.0-1 to 11.0.2-1 using yay itself, nor can I clone the git repo and manually run makepkg

I get the error

[code]

I don't have lto enabled in /etc/makepkg.conf

If I remove !lto from PKGBUILD and then run makepkg -si the build fails in a different place:

[code]

### Reproduction Steps

1

[2022-01-02 06:50] myknbani commented on #1620
It seems more like a regression.  I don't remember this garbling bug as a longtime `yay` user.

EDIT:  I also turned on `ParallelDownloads = 5` in `/etc/pacman.conf` recently, so I'm not sure if that affects things.

[2022-01-02 07:02] tarasis commented on #1665
Discovered the issue. My mirror for updates was apparently significantly out of date. Hence my /etc/makepkg.conf had no mention of lto in it at all, and the system was on Pacman v5.2.2 - libalpm v12.0.2

Updating has resolved the issue. Apologies.

[2022-01-02 07:02] #1665 closed, assigned to nobody

[2022-01-02 20:31] Jguer commented on #1659
Seems the `PKGBUILD` was not using the same convention for version keeping. I'm seeing this has changed now. does this issue still occur?

[2022-01-02 22:27] qkzk commented on #1659
No, it's solved. Thank you 🐱

[2022-01-03 08:24] #1659 closed, assigned to nobody

[2022-01-03 13:18] Jguer commented on #1640
Closing in favor of #1620

[2022-01-03 13:18] #1640 closed, assigned to nobody

[2022-01-03 13:58] Jguer commented on #1606
Reflection points to consider:

- Difference between sourcing Arch mirrors and Arch ARM mirrors
- Seems no API endpoint is available, scraping is possible but we don't want to put any undue pressure on the mirror list page (it's probably not made to be hit as many times as the AUR RPC)

[2022-01-04 18:10] dpendolino commented on #1661
Same thing happening to me:
[code]

[2022-01-06 01:51] HalJordan commented on #336
The workaround from @shiraneyo is great, but it'd be nice if something(even if it's just adding in what shiraneyo has) could be added to this.

[2022-01-06 04:45] JCallicoat commented on #1661
I am getting the same kinds of hangs when yay is checking devel packages either when doing a gendb or upgrading devel packages. The culprit in my case seems to be git ls-remote for projects hosted on gitlab.freedesktop.org.

Here is what I see when yay is hanging:

I can reproduce this by manually running the git ls-remote commands and they work like 2 out of 5 times and just hang the other times.

[2022-01-06 05:09] JCallicoat commented on #1661
Hmm it seems like there should already be a 5 second timeout from here https://github.com/Jguer/yay/blob/65ecee9cb67134a059eb2b315fa12d956558480e/pkg/vcs/vcs.go#L61-L64

[2022-01-06 22:21] 41zu opened #1667 "--editmenu option keeps you from starting the installation, it will say that the user aborted it"
### Affected Version

yay --version -> yay v11.1.0 - libalpm v13.0.1

### Describe the bug

--editmenu option keeps you from starting the installation, it will say that the user aborted it

### Reproduction Steps

1. yay -S linux-amd --editmenu --sudoloop
2. Confirm cleaning build dir
3. Show no diffs
4. Confirm editing all PKGBUILDs
5. Confirm to continue the installation
6. Confirm dialog says t

[2022-01-06 22:22] 41zu commented on #1667
btw confirming with Y does not help either

[2022-01-08 12:25] mindrunner opened #1668 "yay -Syu --devel stuck at Checking development packages"
### Affected Version

`yay v11.1.0 - libalpm v13.0.1`

### Describe the bug

Running `yay` with `--devel` parameter results in an endless wait for  `Checking development packages...`

### Reproduction Steps

1. Run yay -Syu --devel
2. Grab a coffee
3. Grab another one

### Expected behavior

Yay updates devel packages

### Output

[code]

[2022-01-09 15:21] dpendolino commented on #1661
This might have something to do specifically with gitlab.freedesktop.org. I can't repro with any source packages built from github,com.

Cloning from https://gitlab.freedesktop.org/ directly succeeds only about 1/5 attempts for me currently. I've tried from my home and a Linode VPS.

[2022-01-09 20:26] agorgl commented on #1668
Stumbled into this too, same version

[2022-01-09 21:51] Morganamilo commented on #1668
https://github.com/Morganamilo/paru/issues/464

[2022-01-09 22:17] mindrunner commented on #1668
Not sure if that is related. For me it was `stupid me`. Local issue, since `4` other boxes did upgrade fine.

Clearing `~/.cache/yay/` did the trick

[2022-01-09 22:17] #1668 closed, assigned to nobody

[2022-01-11 09:46] bimmlerd opened #1669 "Development package version check fails for packages with source = 'git://github.com/...'"
### Affected Version

`yay v11.1.0 - libalpm v13.0.1`

### Describe the bug

Due to github.com no longer accepting the unauthenticated git protocol ([link](https://github.blog/2021-09-01-improving-git-protocol-security-github/)), the version check for development packages fails for packages which have a `source` of the form `git://github.com/...`.

` -> devel check for package failed: '/usr/bin/gi

[2022-01-11 09:54] bimmlerd commented on #1669
After a bit of investigation: This is probably not really a bug in yay, since the URL comes from the PKGBUILD.

However, it might be nice if yay was smart enough to not attempt checking the version via the unauthenticated git protocol, since it does parse the URL properly already anyway ([here](https://github.com/Jguer/yay/blob/next/pkg/vcs/vcs.go#L135), I believe, via [vcs.go](https://github.com/

[2022-01-11 11:28] jose1711 opened #1670 "yay should at least warn if PKGBUILD is not retrieved"
### Is your feature request related to a problem? Please describe.

I don't think it's correct that `yay` quietly ignores a situation in which `PKGBUILD` is not retrieved e. g. when a user makes a typo. Here's an example:
[code]

Nothing seems to be wrong but as as a matter of fact there is no `PKGBUILD` created and only `.git` directory is created.
[code]

### Describe the solution you'd like

I

[2022-01-11 12:06] chrisjbillington commented on #1669
makepkg can't deal with such PKGBUILDs now, so presumably the PKGBUILDs will have to change to `git+https` or whatnot. Potentially nothing needs to be done in `yay` since these PKGBUILDs are unusable until they are fixed no matter what yay does.

[code]

[2022-01-12 10:39] bimmlerd commented on #1669
Fair point, closing.

[2022-01-12 10:39] #1669 closed, assigned to nobody